.searchform {
    margin-top: 30px !important;
}
.circle img{
    margin-bottom: 10px;
}
#categories{
    padding-bottom: 50px;
}
#categories .cat-box {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}

#categories .cat-box ul {
    padding: 0;
}

#categories .cat-box li {
    list-style: none;
    text-align: center;
    width: 20%;
    overflow: hidden;
    float: left;
    height: 400px;
}
.slide-details .panel-body a {
    display: flex;
    padding: 5px 8px;
    border-bottom: 1px solid #ccc;

}
.blog{
    height: 189px;
}
.fodd{
    height: 244px
}
.blog span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    display: inline-block;
    padding-bottom: 5px;
    height: 200px;
}
.small-img{
    height: 50px;
    width: 50px;
}
.slide-details .panel-body a img {
    margin-left: 10px;
}
.slide-details .panel-body a span{
        color: #797979;
        font-size: 16px;
    }
.custom-btn{
    position: absolute;
    bottom: -50px;
    left: 0px;
    right: 0px;
}
#categories .cat-box li .header-box {
    height: 60px;
    line-height: 73px;
    position: relative;
    color: #fff;
}

#categories .cat-box li .header-box h3 a {
    height: 50px;
    line-height: 40px;
    margin: 0;
    font-size: 17px;
    position: relative;
    z-index: 1000;
    color:#fff !important;
}

#categories .cat-box li.box-red .header-box {
    background: #f94b20;
}

#categories .cat-box li.box-red .header-box .circle {
    background: #f94b20;
}

#categories .cat-box li.box-blue .header-box {
    background: #11696b;
}

#categories .cat-box li.box-blue .header-box .circle {
    background: #11696b;
}

#categories .cat-box li.box-yellow .header-box {
    background: #f4c20d;
}

#categories .cat-box li.box-yellow .header-box .circle {
    background: #f4c20d;
}

#categories .cat-box li.box-move .header-box {
    background: #93648d;
}

#categories .cat-box li.box-move .header-box .circle {
    background: #93648d;
}

#categories .cat-box li.box-dark-red .header-box {
    background: #99001d;
}

#categories .cat-box li.box-dark-red .header-box .circle {
    background: #99001d;
}

#categories .cat-box li .header-box .circle {
    position: absolute;
    border-radius: 73%;
    top: 35px;
    width: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 55px;
    font-size: 25px;
    z-index: 999;
}


.flex-slide {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    overflow: hidden;
}

.body-box {
    overflow: hidden;
}

.body-box .main-image {
    float: left;
}

.slide-details {
    opacity: 0;
    min-height: 210px;
    /* background: #ccc; */
    text-align: center;
    padding: 35px 20px 0px 20px !important;
    width: 100%;
}

.slide-details .panel {
    margin: 5px;
}

.brands-list {
    padding: 5px;
    height: 100px;
}

.brands-list a {

    margin: 2px;
    text-align: center;
}

.brands-list .cars-brand{
    width: 30%;
    float: right;
    text-align: center;
}

.brands-list .count{
    display: block;
    width: 100%;
    color: #797979;
    height: 40px;
    line-height: 40px;

}

.panel-heading {
    background: #424242;
    color: #ccc;
    height: 40px;
    font-size: 16px;
    line-height: 32px;
}

.panel-body {
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
    padding: 0px;
}

.no-margin {
    margin: 0
}

.no-padding {
    padding: 0;
}

.button-area{
    padding-top: 30px;
}

.btn-main{
    background: #8cad10;
    color: #fff;
    border-radius: 5px;
    clear: both;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 10px;
    position: relative;
    top: 10px;
}

.btn-main:hover{
    color: #ffffff;
}

.post-row {
    padding: 5px
}

.vertical-list{
    width: 100%;
}
.food span{
    line-height: 50px
}
.food{
    height: 244px;
}
.btn-green{
    width: 180px;
    background: #8cad10;
    color: white;

}
.panel-body.cars {
    height: 189px;
}
.panel-body.cars .a{
display: inline-block;
border-bottom: none;
}
.vertical-list a.link {
    width: 100%;
    display: block;
    float: right;
    text-align: right;
    height: 48px;
    border-bottom: 1px solid #ccc;
}
.style{
    height: 244px;
}
.style a{
    padding: 5px;
    margin: 0px;
}
.lifestyle-area img{
    width: 100%;
    margin: 0px !important;
    height: 75px;
}

.vertical-list a.link:last-child{
    border-bottom: none;
}

.vertical-list a.link img {
    width: 40px;
}

a.link:last-child{
    margin-bottom: 20px;
}

.gray-overlay{
    background: #000;
    opacity: 0.6;
    height: 400px;
    display: block;
    width: 233px;
    float: left;
    position: absolute;
    left: 0;
    height: 361px;
}

.body-box{
    position: relative;
    height: 340px;
    overflow: hidden
}

/* .circle{
    box-shadow: 0px 3px 1px #4e4e4e;
} */
