a:hover {
    text-decoration: none !important;
}

#add-post-page .quick-filter a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    background-color: rgb(60, 60, 60);
    opacity: 0.82;
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
}

#add-post-page .quick-filter a::after {
    content: '';
    width: 1px;
    height: 35px;
    background: lightgrey;
    display: block;
    position: absolute;
    top: 3px;
}

#add-post-page .quick-filter a.first::after {
    display: none !important;
}

#add-post-page .add-post {
    background: #efeff0;
}

#add-post-page .select2-container {
    width: 100% !important;
}

#add-post-page .select2-container .select2-selection--single {
    height: 38px;
}

#add-post-page .select2-container--default .select2-selection--single .select2-selection__rendered,
#add-post-page .form-control {
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    color: #747475;
}

#add-post-page .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 3px !important;
}

#add-post-page .select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}

#add-post-page .form-label {
    font-size: 16px;
    font-weight: bold;
    color: #404041;
}

#add-post-page .required {
    color: #f00000;
    vertical-align: sub;
    display: inline-block;
    font-weight: bold;
    margin: 0px 15px;
}

#add-post-page .input-group>.form-control:not(:last-child),
#add-post-page .input-group>.custom-select:not(:last-child) {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

#add-post-page .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-radius: 4px 0px 0px 4px !important;
}

#add-post-page .input-group-text {
    line-height: 0.5;
    padding: 0px 20px 6px;
    font-weight: 500;
}

#add-post-page input.form-control {
    border-radius: 4px !important;
    padding-right: 8px;
    padding-left: 20px;
}

#add-post-page .file-icon {
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

#add-post-page .properities,
#add-post-page .add-img,
#add-post-page .add-video,
#add-post-page .card {
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    padding: 15px;
    position: relative;
}

#add-post-page .header-icon {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    top: -17px;
    background: #ffffff;
    padding: 0px 15px 0px 24px;
    right: 10px;
}

#add-post-page .icon {
    color: #fff;
    background: #404041;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 27px;
    font-size: 14px;
}

#add-post-page .icon-play {
    font-size: 12px;
    padding-right: -9px;
    text-align: right;
    padding-right: 7px;
    padding-top: 1px;
}

#add-post-page .select-location .header-icon {
    position: static !important;
    top: auto !important;
    right: auto !important;
    background: transparent;
}

#add-post-page .select-location .card {
    box-shadow: none !important;
}

#add-post-page .select-location .card img {
    height: 215px;
}
#add-post-page .btn-dark{
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 60px;
}
#add-post-page .img-card {
    width: 109px;
    height: 109px;
    box-shadow: none;
    border-radius: 0;
    padding: 0px;
}
#add-post-page .image-list li {
    display: inline-block;
    border-radius: 0;
    padding-right: 10px;    
}
#add-post-page .form-control:focus,
#add-post-page .select2-container--default .select2-selection--single:focus{
    border-color: #8cad10 !important;
    box-shadow: none;
}