.expired-ad-text h4 a {
  color: #8BAD11 !important;
  cursor: pointer !important;
}
#search {
  background-image: url(../images/header-ramdan.jpg);
  background-position: top center;
}
.ad-related-ads .card-body .info {
  height: auto !important;
}
#item-page .custom-box {
  height: auto;
}
#my-account-page .contact-top {
  background-image: url(../images/contact-bg.jpg);
  padding: 60px 0;
}
.contact-page h5 {
  color: #8BAD11;
  margin: 0 0 20px;
}
.contact-info {
  margin-bottom: 30px;
}
.contact-info-item {
  margin-bottom: 15px;
  overflow: hidden;
}
.contact-info-item .cont-ico {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #676769;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  float: right;
  margin-left: 10px;
}
.price-mobile {
  display: none;
}
.ltr .contact-info-item .cont-ico {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
.contact-map {
  height: 245px;
  width: 100%;
  position: relative;
  border: solid 2px #EDEDED;
  border-radius: 5px;
  overflow: hidden;
}
.contact-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.contact-form {
  padding: 30px;
  background: #FBFBFB;
  border: solid 1px #EDEDED;
  border-radius: 5px;
}
.contact-form input {
  border-radius: 5px !important;
}
.contact-form .btn {
  background: #8BAD11;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: block;
}
.contact-ico {
  background: url(../images/contact-ico.png) no-repeat center center/contain;
}
.vertical-list a.link:hover span, .slide-details .panel-body a span {
  color: #8cad10;
}
.gdpr {
  padding: 20px 0 5px;
}
.gdpr .gdpr-text {
  display: table-cell;
}
.gdpr-close {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}
.item.featured::before {
  background-repeat: no-repeat;
}
#search {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.not-found-page {
  min-height: 100vh;
  background: url("{{ assets("frontend") }}/assets/images/404-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  padding-top: 50px;
}
.not-found-img {
  margin: 40px auto;
  max-width: 100%;
}
.go-home {
  margin-top: 20px;
  background: #8cad10 !important;
  border: none;
  margin-bottom: 40px;
}
#cats-page.not-found-page #discover .discover-list li a {
  font-size: 16px;
  border-bottom: solid 1px #404041;
  line-height: 22px;
  display: inline-block;
}
.ltr .navbar-brand img {
  width: auto !important;
  height: auto !important;
}
.ltr .search-result .custom-select-2 .select2-selection__rendered {
  padding-right: 0 !important;
  padding-left: 20px !important;
}
.ltr .select2-container--default .select2-search--inline .select2-search__field {
  text-align: left;
}
.ltr .select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline, .ltr .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice, .ltr .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__placeholder {
    float: left;
    margin-left: auto;
    margin-right: 5px;
}
.ltr .about-slide ul li span {
  text-align: left;
}
.ltr #my-account-page .my-account-form input.form-control {
  padding-left: 230px!important;
}
.ltr .comments-list .comment-avatar, .ltr .comments-list .comment-box, .ltr .comment-box .comment-name, .ltr .comment-box .comment-head span {
  float: left;
}
.ltr .comment-box .comment-name {
  margin-left: 0;
  margin-right: 10px;
}
.ltr .comment-box .comment-head .pull-left, .ltr .comment-box .comment-head .fa-reply, .ltr .comment-box .comment-head .fa-heart {
  float: right;
  margin-left: 10px;
}
.ltr .footer-links {
  padding: 0;
}
.ltr .footer-links li:before {
  left: 0;
  top: 14px;
}
.ltr .footer-links li a {
  margin-left: 12px;
}
.ltr .reply-list {
  padding-right: 0;
  padding-left: 88px;
}
.ltr .comments-list .comment-box {
  margin-right: 0;
  margin-left: 15px;
}
.ltr .comments-list .comment-box::before {
  right: auto;
  left: -12px;
  border-width: 13px 11px 11px 0px;
}
.ltr .comments-list .comment-box::after {
  right: auto;
  left: -11px;
  border-width: 12px 11px 10px 0px;
}
.rtl-cont {
    direction: rtl !important;
    text-align: right;
}
.ltr-cont {
    direction: ltr !important;
    text-align: left;
}
.notifications-alert {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
}
.rtl .notifications-alert {
}
@media (max-width: 1199px) {
  .ltr .navbar-collapse .navbar-nav .nav-item {
    text-align: left;
  }
  .ltr .navbar-collapse .navbar-nav .nav-item a svg {
    float: right;
  }
}
@media (max-width: 960px) {
  .ltr .mobile-download-bar a {
    margin-right: -135px;
    font-size: 14px;
  }
  .ltr .search-icon {
    margin-top: 20px;
  }
  .box-salary {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .cat-box li.flex-slide .body-box .main-image {
    width: 100% !important;
    height: auto !important;
  }
  .ltr .category-search .filter .custom-select-2 {
    float: left;
  }
  .ltr .navbar-dark .navbar-brand img {
    width: 120% !important;
    margin-top: 3px;
  }
  .category-search .quick-search .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #my-account-page .account-barter-search .quick-search .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ltr #login-page h6, .ltr #register-page h6 {
    margin-right: 0;
    margin-left: 15px;
  }
  .my-account-form label {
    display: none;
  }
  #my-account-page .my-account-form input.form-control {
    padding-right: 70px!important;
  }
  .ltr #my-account-page .my-account-form input.form-control {
    padding-left: 70px!important;
  }
  #cats-page .slider .about-slide ul li img {
    max-width: 30px;
    height: auto;
  }
  .ltr #cats-page .slider .about-slide ul li img {
    float: left;
  }
  .comments-list .comment-box {
    width: auto !important;
    float: none !important;
    margin-right: 60px !important;
  }
  .comments-list .comment-avatar {
    width: 45px !important;
    height: 45px !important;
  }
  .ltr .comments-list .comment-box {
    margin-right: 0 !important;
    margin-left: 60px !important;
  }
  .contact-map {
    margin-bottom: 30px;
  }
  .contact-form {
    padding: 20px 10px;
  }
  .col-sm-4 .box-salary, .user-info {
    display: none;
  }
  .price-mobile {
    display: block;
  }
  .d-flex.tag-page {
    display: inline-block !important;
  }
  .search-result .tag-page .custom-select-2 {
    width: 48%;
    -webkit-box-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    margin: 0 1% 5px;
    height: auto;
    float: right;
  }
  .ltr .search-result .tag-page .custom-select-2 {
    float: left;
  }
  .search-result .tag-page .search-btn {
    width: 48%;
    margin: 0 1%;
    height: 34px;
  }
  .show-on-mobile-only-new .category-slider .custom-box .card-body h4 a {
    color: #fff;
  }
}


.mobile-download .device img {
  width: 200px;
  height: 180px;
  margin: 0 auto  ;
}

.mobile-download .device
{
  text-align: center;
  margin-bottom: 20px;
}


.mobile-download .stores{
  width: 80%;
  margin: 0 auto;
}

.mobile-download .stores .store{
  text-align: center !important;
  width: 50%;
  float: right;
}

.mobile-download .stores .store img {
  width: 80%;
}

footer{
  background: #f2f2f2;
  background-image: unset !important;
}

#cats-page #artical-barter .play-icon-video, #cats-page #videos .play-icon-video {
  top: 0px !important;
}

/*@media only screen and (max-width: 768px) {*/
/*  .mobile-download .stores .store img {*/
/*    width: 30%;*/
/*  }*/
/*}*/



#login-page .avater-icon, #register-page .avater-icon{
  top: 50%
}


#login-page .login-bg, #register-page .login-bg{
  height: 100%;
}


form#verification_form {
  margin-top: 35px;
}
