* {
  font-family: 'Droid Arabic Kufi', sans-serif !important;
}
body {
    padding-top: 60px !important;
}
.navbar-dark .dropdown-menu {
  top: 95%;
}
.navbar-dark .dropdown.country .dropdown-menu {
  height: auto;
  overflow: inherit;
  min-width: fit-content;
}
.list-countries {
  height: 295px;
  overflow-y: auto;
}
.navbar-dark .put-ads {
  padding: 15px 18px;
  font-size: 20px !important;
  margin-right: 20px;
}
#search .logo-search {
  padding: 50px 0;
}
#search .logo-search img {
  padding: 0px;
  width: auto;
}
#search .form-control {
  padding-bottom: 0;
}
#search .search-input:after {
  height: 36px;
  background: #BBBBBB;
  top: 6px;
  display: none;
}
.border-search {
  position: relative;
}
.border-search::before {
  display: block;
  content: '';
  width: 1px;
  height: 36px;
  background: #BBBBBB;
  top: 6px;
  right: 0;
  position: absolute;
}
#home-page #search {
  border-bottom: 7px solid #8cad10;
  position: relative;
}
.slide-details .row {
   margin-right: -10px;
}
.slide-details .panel-heading {
  height: 35px;
  background: #777779;
  color: #fff;
}
.slide-details .panel-body {
  padding: 0 10px;
  border: 1px solid #F3F3F3;
}
.panel-body.food {
  height: 280px;
}
.slide-details .panel-body a {
  padding: 8.5px 10px;
  border-bottom: 1px solid #C4C4C4;
}
.slide-details .panel-body a span {
  color: #111;
  font-size: 14px;
}
.vertical-list a.link {
  height: 55px;
}
.vertical-list a.link span {
  height: auto;
  line-height: 40px;
  width: auto;
}
.vertical-list.blog {
  height: 220px;
}
#categories .cat-box li {
  height: 420px;
}
#categories .cat-box li:hover .gray-overlay {
  display: none;
}
.gray-overlay {
  background: #666;
}
.body-box {
  height: 360px;
}
#categories .cat-box {
  border: 1px solid #D3D3D3;
  background: #fff;
}
.slide-details .panel-body.style .row {
  margin-left: -10px;
  margin-right: -10px;
}
.slide-details .panel-body.style a {
  padding: 10px 5px;
  border: none;
}
.lifestyle-area img {
  height: 100px;
  width: auto;
  margin-right: -33px !important;
}
.panel-body.style, .panel-body.cars {
    height: auto;
}
.panel-body.brands-list.cars .row {
  margin-left: -5px;
  margin-right: -5px;
}
.slide-details .panel-body.brands-list.cars .car-logo {
  padding: 10px 5px;
  margin: 0;
  border: none;
}
.slide-details .panel-body.brands-list.cars a {
  padding: 2px;
  margin: 0;
  border: solid 1px #DADEDF;
  width: 100%;
  height: 51px;
  position: relative;
  display: inline-block;
}
.slide-details .panel-body.brands-list.cars a img {
  width: auto;
  height: auto;
  max-width: 49px;
  max-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#videos h4, #auto-barter h4, #aqura-barter h4, #style-barter h4, #food-barter h4, #blog-barter h4, #artical-barter h4 {
  padding: 40px 0px 25px;
  font-weight: bold;
}
#videos .nav-link, #aqura-barter .nav-link, #blog-barter .nav-link, #artical-barter .nav-link {
  line-height: 20px;
}
#videos .card .icon {
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  border: 2px solid #ffff;
}
#videos .card .play-icon-video {
  left: 50%;
  top: 0;
  margin-left: -7px;
}
.video-details {
  height: auto;
  background: rgba(0,0,0,0.6);
  opacity: 1;
  display: block !important;
}
.video-details .info {
  display: none;
}
.card.viedo:hover .video-details .info {
  display: block;
}
.video-details .title {
  padding: 10px 5px;
}
#auto-barter .filter, #aqura-barter .filter, #food-barter .filter, #blog-barter .filter {
  padding-bottom: 25px;
}
.custom-box .item-detailes .icon-box {
  padding-left: 8px;
}
.video-details .border-bottom {
  border-color: #999 !important;
}
.video-details .views {
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.custom-box .card-body .brand {
  float: left;
}
.custom-box .card-body .brand img {
  width: auto;
  height: 30px;
}
.cats-filter .box-gallery .box-title, #artical-barter .nav-link {
  font-size: 18px;
  float: right;
}
.owl-carousel.style-barter {
  padding: 0;
}
.vertical-list a.link span.ads-count {
  float: left;
  width: auto;
  margin: 0 10px;
}
.custom-box .item-name {
  font-size: 16px;
  font-weight: normal;
}
#food-barter .restaurant-row-title, #artical-barter .title a {
  font-weight: normal;
}
#artical-barter .nav-link {
  height: 40px;
}
#style-barter .style-artical .card-img-header {
  padding: 10px;
  height: auto;
}
#style-barter .style-artical .card-body {
  border: none;
  padding-top: 0;
}
#style-barter .style-artical .item-name {
  color: #737373 !important;
}
#style-barter .style-artical p {
  color: #545454;
  font-weight: normal;
  font-size: 13px;
  height: 95px;
  margin-bottom: 10px;
}
#style-barter .shope-here a {
  line-height: 35px;
}
#style-barter .card-img-header {
  height: 192px;
  border: none;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 15px 5px;
}
#food-barter .resturant-info .resturant-desc {
  width: 355px;
}
#food-barter .restaurant-row, #food-barter .more-restaurants {
  padding: 10px 0px;
}
#food-barter .restaurants-box {
  text-align: center;
}
#cats-page #discover .discover-list {
  width: 100%;
}
.category-search .quick-search a {
  font-size: 18px;
  padding: 9px 0px 12px;
}
.category-search .quick-search .col:last-child {
  border: none !important;
}
#cats-page .category-slider h5, #cats-page #artical-barter h5, #cats-page #videos h5 {
  padding: 30px 0px 20px;
  font-weight: bold;
}
#cats-page #discover .title span {
  font-weight: bold;
  top: 30px;
  width: auto;
  padding: 0 15px;
}
#cats-page #discover .nav-link {
  line-height: 22px;
}
.category-search .quick-search a:hover, .category-search .quick-search .active.item {
  background: #000!important;
}
#cats-page #artical-barter .play-icon-video, #cats-page #videos .play-icon-video {
  top: 15px !important;
}
.custom-scrolltop {
  padding: 8px 0;
  line-height: 22px;
}
.cats-filter .breadcrumb li a, .cats-filter .breadcrumb li.active {
  font-size: 18px;
}
.side-bar-filter a.collapsed-btn {
  font-size: 14px;
}
.cats-filter .img-logo span {
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
  vertical-align: top;
}
.brand-box {
  height: 150px;
}
.load-more {
  padding: 5px 30px;
  margin-bottom: 20px;
}
.brand-box .brand-info a span {
  font-size: 13px;
}
.brand-box .brand-name {
  width: calc(100% - 38px);
}
.side-bar-filter h5 {
  padding: 12px 10px 10px;
}
.brand-box .brand-img img {
  margin: 0px auto;
  height: auto;
  width: auto
}
.cats-filter .img-logo img {
  width: auto;
}
.load-more-btn .green-btn {
  width: auto;
}
.main-slider-content {
  width: 100%;
  height: 470px;
  background: #F5F5F3;
  border: solid 1px #EEEEEE;
  padding: 3px;
}
.lof-slidecontent ul.navigator-wrap-inner li h5 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}
.lof-slidecontent ul.navigator-wrap-inner li p {
  font-size: 14px;
  color: #999;
}
.advanced-search {
  border: none;
  padding-top: 0;
  background: none;
}
.open-advanced-search {
  margin: 20px 0 0;
  text-align: center;
}
.open-advanced-search span {
  font-size: 16px;
  color: #111;
  cursor: pointer;
  font-weight: bold;
}
.advanced-search .search-icon {
  height: 50px;
  background: none;
  position: static;
  color: #111 !important;
  margin-bottom: 20px;
}
.advanced-search .search-category-dp {
  margin-bottom: 20px !important;
}
.advanced-search .search-icon img {
  position: static;
  width: auto;
  margin: 3px 0 0 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.advanced-search #search-categories-div {
  padding-top: 20px;
}
.home-search-input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #8b8b8b !important;
}
#login-page .facebook, #register-page .facebook, #login-page .twitter, #register-page .twitter {
  line-height: 36px;
}
#login-page form label, #register-page form label {
  padding-left: 0;
}
#add-post-page .required {
  margin: 0 !important;
}
#add-post-page small {
  margin-top: 5px !important;
}
#add-post-page #ca-custom-attributes .form-label {
  font-size: 13px;
}
#add-post-page .add-video .input-group-prepend, #add-post-page .add-img .input-group-prepend {
  width: 100%;
}
#add-post-page .file-icon {
  height: 40px;
  width: 100%;
}
#add-post-page .file-icon input {
  line-height: 20px;
}
.remove-uploaded-file {
  cursor: pointer;
}
#articles-load-more, #search-load-more-ads {
  text-align: center;
  width: 100%;
}
#search-load-more-ads {
  margin-bottom: 30px !important;
}
.box-title {
  float: right !important;
}
.about-slide ul li {
  vertical-align: middle;
}
.offer-form #offer-type {
  padding-top: 0;
}
.offer-form textarea {
  margin-top: 20px;
}
.offer-form #submit-offer {
  float: left;
  margin: 20px 5px 20px 0;
}
.side-bar-filter a {
  color: #1c1b1b;
  font-size: 14px;
}
.tag-title {
  margin: 30px 0;
}
#my-account-page .load-more-btn {
  margin: 0 0 40px;
  width: 100%;
}
.custom-box .info span {
  font-size: 14px;
}
.product-showcase {
  padding-bottom: 0;
  max-height: none !important;
}
.ps-icon-wrapper {
  bottom: 0 !important;
}
.ps-icon-box {
  width: 100%;
}
.ps-icon {
  vertical-align: top;
}
.ad-post-banner {
  background-image: url(../img/post-ad-banner.jpg);
  padding: 90px 0 40px !important;
}
#add-post-page .add-post {
  background: rgba(239,239,240,0.8) !important;
}
#add-post-page .img-card {
  height: auto !important;
}
.card.viedo {
  overflow: hidden;
}
#videos .owl-carousel .item .title img {
  height: 24px !important;
  margin: 0 !important;
  display: inline;
}
.custom-box .info .item-detailes .icon, .owl-carousel .owl-item .item-detailes .icon {
  width: 14px !important;
}
.tab-content .owl-carousel.owl-rtl .owl-item {
  width: 250px;
  margin-left: 10px;
}
#pills-tabContent.tab-content {
  height: auto;
  overflow: hidden;
}
#videos .tab-content {
  height: 350px;
}
#my-account-page .my-account-form input.form-control {
  padding-right: 215px !important;
}
#food-barter .restaurant-row-image img {
  width: auto;
}
#food-barter .restaurant-row-title {
    width: calc(100% - 65px);
}
#food-barter .restaurant-row-title a {
  font-size: 14px;
}
.dubarter-account-img input.form-control {
  height: 45px!important;
}
#artical-barter .owl-theme .owl-nav {
  display: block;
}
.social-area-pages li a {
  line-height: 32px;
}
.dubarter-account-img img {
  width: 100%;
  height: auto;
}
.ad-featuered-img {
  margin-bottom: 20px;
}
.ad-related-ads .custom-box .item-name {
  font-size: 14px;
}
.ad-related-ads .card-body .info {
  height: 95px !important;
}
.ad-gallery img {
  max-width: 100%;
}
.ad-gallery, .add-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.ad-gallery {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
}
.add-tags {
  margin-bottom: 20px;
  font-size: 0;
}
.ad-gallery li {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.add-tags li {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 10px;
  display: inline-block;
}
.add-tags li a {
  border-radius: 3px;
  background: #FAF7F7;
  border: solid 1px #D7D7D7;
  line-height: 35px;
  text-align: center;
  padding: 0 15px;
  font-size: 14px;
  color: #111;
  display: block;
}
.add-tags li a:hover {
  color: #666;
}
.share-box {
  margin-bottom: 20px;
}
.owl-carousel .owl-item .item-detailes .icon {
  display: inline;
}
.table-about table {
  display: table;
}
.ps-icon-wrapper {
  position: static !important;
  margin-top: 5px;
}
.ps-icon {
  background-position: center center;
}
.restaurants-list {
  font-size: 0;
  text-align: center;
}
#food-barter .restaurants-box li img {
  width: auto;
}
.cat-slider-thumb {
  width: 95px;
  overflow: hidden;
  float: right;
  border: #fff solid 3px;
  margin: 9px 0 9px 10px;
}
.lof-slidecontent ul.navigator-wrap-inner li img {
  width: auto;
  height: 90px;
  border: none;
  margin: 0 -25px 0 0;
}
#artical-barter .read-more {
  margin-bottom: 5px;
}
#login-page .login-bg, #register-page .login-bg {
  min-height: 200px;
}
.box-gallery .box-content .play-icon {
    position: absolute;
    margin: 0!important;
    left: 0;
    right: 31px;
    top: 33px;
    color: #faf8f8;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(0,0,0,.25);
    text-align: center;
    line-height: 23px;
    font-size: 10px;
    border: 1.5px solid #ffff;
}
.box-gallery .box-content .img {
    position: relative;
    cursor: pointer;
    width: 80px !important;
    height: 80px !important;
    margin-left: 10px;
    overflow: hidden;
    float: right;
}
.box-gallery .box-content .img img {
  width: auto !important;
  height: 80px !important;
  margin: 0 -20px 0 0 !important;
}
.side-bar-filter .car-icon img {
  height: 30px;
}
.home-slider-thumb {
  overflow: hidden;
  width: 87px;
  height: 100px;
}
#home-page #search .select2-selection--single .select2-selection__rendered {
  padding: 6px 18px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 600;
}
#home-page #search .select2-container--default .select2-selection--single {
  border: none!important;
  height: 48px!important;
  border-radius: 0!important;
}
#home-page #search .select2-container {
    width: 100%!important;
    border: none!important;
    position: relative;
}
#home-page #search .select2-selection--single .select2-selection__arrow {
    top: 12px;
}
#home-page #videos, #home-page #auto-barter, #home-page #aqura-barter,
#home-page #style-barter, #home-page #food-barter, #home-page #blog-barter,
#home-page #artical-barter {
  background: #f5f5f5;
  background-position: top left !important;
  background-repeat: repeat !important;
}
#home-page #videos {
  background: url("../images/pattern-video.jpg") !important;
}
#home-page #artical-barter {
  background: url("../images/pattern-article.jpg") !important;
}
#home-page #auto-barter {
  background: url("../images/pattern-cars.jpg") !important;
}
#home-page #aqura-barter {
  background: url("../images/pattern-realestat.jpg") !important;
}
#home-page #style-barter {
  background: url("../images/pattern-lifestyle.jpg") !important;
}
#home-page #food-barter {
  background: url("../images/pattern-resturant.jpg") !important;
}
#home-page #blog-barter {
  background: url("../images/pattern-classfiy.jpg") !important;
}
#categories {
  padding-bottom: 55px;
}
#home-page #search .scroll-section {
  background-color: #8cad10;
}
.show-more {
  float: left;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
#style-barter .nav-item {
    margin: 0 5px;
    width: 200px;
    height: 40px;
}
#style-barter .nav-link.active {
    text-align: center;
    background-color: #ff005c;
    color: #fff;
}
#style-barter .nav-link {
    text-align: center;
    background-color: rgba(255,0,92,.502);
    color: #000;
    line-height: 20px;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.slide-details .decore .panel-body {
  border: none;
  padding: 0;
}
.slide-details .decore .panel-body a {
  padding: 0;
  border: none;
  margin: 10px 0;
  display: block;
}
.lifestyle-area .decore img {
  margin: 0 !important;
}
.lifestyle-area .decore .brands-list {
  height: 110px;
}
#style-barter .owl-theme .owl-nav {
    display: block;
}
#style-barter .owl-next, #style-barter .owl-prev {
    display: block !important;
}
.about-slide ul li {
  font-size: 14px !important;
  text-align: right !important;
}
#style-barter .advertise {
  margin-top: 0px;
}
#blog-barter {
  border: none;
}
#blog-barter .advertise {
  margin-bottom: 20px;
  min-height: auto;
}
#videos {
  border-bottom: 7px solid #8cad10;
}
#videos .scroll-section {
  background-color: #8cad10;
}
#artical-barter {
  border-bottom: 7px solid #f63;
  position: relative;
  min-height: calc(100vh - 50px);
}
#artical-barter .scroll-section {
  background-color: #f63;
}
#artical-barter .advertise {
  margin: 15px auto 56px !important;
  height: auto !important;
  padding-bottom: 0;
}
#item-page .custom-box {
  height: 295px;
}
#sub-category-ads-listing .custom-box .price {
   position: static;
   line-height: 34px;
}
#sub-category-ads-listing .custom-box .item-name {
  height: auto;
}
#auto-barter h4 a:hover {
  color: #f63 !important;
}
#aqura-barter h4 a:hover {
  color: #0b82c6 !important;
}
#style-barter h4 a:hover {
  color: #ff005c !important;
}
#food-barter h4 a:hover {
  color: #cc2131 !important;
}
#blog-barter h4 a:hover {
  color: #fdb928 !important;
}
#videos h4 a:hover, #artical-barter h4 a:hover {
  color: #8cad10 !important;
}
#home-page .advertise {
  height: auto !important;
  padding: 0 !important;
  text-align: center;
}
.ads-cat, .ads-search {
  text-align: center;
}
footer {
  padding-top: 40px !important;
}
.copyrights {
  margin-top: 30px;
  padding: 15px 0;
}
footer .social-area {
  margin-top: 0;
}
footer .social-area-pages {
  width: 100%;
  font-size: 0;
}
footer .social-area-pages li {
  float: none;
  display: inline-block;
}
footer .social-area-pages li a {
  padding: 7px 0;
  line-height: 18px;
}
#style-barter .owl-dots {
  display: none !important;
}
.about-slide ul li {
  line-height: inherit !important;
}
.about-slide ul li span {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
}
.custom-box .favourite {
  width: auto;
  line-height: 16px;
  height: auto;
  padding: 5px;
  color: #777;
  z-index: 2;
}
.custom-box .favourite.fav-color {
  color: #C3060D;
}
.custom-box .favourite:hover .fav-text {
  display: inline;
}
.custom-box .favourite .fav-text {
  display: none;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
  color: #111;
}
.fav-popup .fav-popup-header {
  background: #52992F;
  height: 60px;
  line-height: 60px;
}
.fav-popup .fav-popup-header h4 {
  color: #fff;
  font-size: 20px !important;
  line-height: 60px;
  display: inline-block;
  margin: 0 20px 0 0;
}
.fav-popup .fav-popup-header button {
  background: #fff;
  color: #B91B55;
  opacity: 1;
  margin: 18px 0 0 20px;
  width: 24px;
}
.fav-popup-body {
  margin: 30px 20px 0;
  border-bottom: solid 1px #777;
}
.fav-popup-body h5 {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #777;
}
.fav-popup-body h5 a {
  color: #B91B55;
}
.fav-popup .btn.btn-link {
  color: #333;
  margin: 8px 0;
}
.item.featured {
  position: relative;
}
.item.featured::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -4px;
  background: url("../images/featuerd.png");
  width: 169px;
  height: 58px;
  z-index: 1;
}
.owl-carousel .owl-stage-outer {
  margin-left: -4px;
}
.custom-box .price {
  background: rgba(78, 82, 82, 0.8);
}
.home-search-input {
  width: 100%;
}
.category-search .custom-select-2 {
  width: 30%;
}
.category-search .custom-select-2.mob-category-dropdown {
  width: 50%;
}
.category-search .custom-select-2.mob-category-dropdown input {
  height: 48px!important;
  box-shadow: none !important;
}
.search-result .custom-select-2 {
  width: 100%;
}
.search-result {
  background: url("../images/banner-advnced search.jpg");
  padding: 40px 0;
  background-size: cover;
}
.search-sort {
  background: #EDEEEC;
}
#search-result-page .quike-search {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
#search-result-page .quike-search .custom-select-2 {
    width: 76%;
}
.gdpr {
  padding: 20px 0;
  background: #3b3b3d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
}
.gdpr .gdpr-text {
  color: #fff;
  font-size: 14px;
}
.gdpr .gdpr-text a, .gdpr .gdpr-text a:hover {
  color: #8cad10 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
ul.branches {
  padding: 0 20px;
  margin: 0 0 15px;
  border: solid 1px #B7B7B7;
  list-style: none;
}
ul.branches li {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #333;
  border-bottom: solid 1px #B7B7B7;
}
ul.branches li a {
  cursor: pointer;
  text-decoration: underline !important;
}
ul.branches li .svg-inline--fa {
  width: 25px;
  text-align: center;
  margin-left: 5px;
}
ul.branches li:last-child {
  border: none;
}
.branche-address, .branche-phone, .branche-time, ul.branches h5 {
  margin-bottom: 10px;
}
.branche-time span {
  display: inline-block;
}
.map-close {
  width: 30px;
  position: absolute;
  z-index: 100;
  top: -30px;
  color: #fff !important;
  opacity: 1 !important;
}
.expired-ad {
  padding: 30px 15px;
  background: #F2F1EF;
  border: solid 1px #E1E1E1;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 0;
}
.expired-ad-icon {
  display: inline-block;
  margin: 0 70px;
}
.expired-ad-text {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.expired-ad-text h4 a {
  text-decoration: underline !important;
  color: #8BAD11;
}
@media (min-width: 1200px) {
  .navbar-dark.fixed-top {
    height: 60px;
  }
  #videos .owl-carousel .owl-item .item img {
    height: 300px !important;
  }
  .mobile-new-show-only {
    display: none !important;
  }
  #sub-category-ads-listing .row {
    margin-right: -30px;
  }
}
@media (max-width: 1070px) {
  .select2-dropdown {
      left: auto;
  }
}
@media (min-width: 960px) {
  .mobile-download-bar {
    display: none;
  }
}
@media (max-width: 960px) {
  .mobile-download {
    text-align: center;
  }
  .scrolltop, .add-ads-button-round {
    bottom: 65px !important;
  }
  .scrolltop.bar-close, .add-ads-button-round.bar-close {
    bottom: 20px !important;
  }
  .mobile-download-bar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("../images/mobile-download-bar.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9998;
  }
  .mobile-download-bar-close {
    width: 20px;
    padding: 4px 0;
    text-align: center;
    background: #5F6D20;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 31px;
  }
  .mobile-download-bar a {
    position: absolute;
    right: 50%;
    margin-right: -130px;
    top: 33px;
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 3px 15px;
    border: solid 1px #7F9D0D;
  }
  #home-page .filter .select2-container {
    width: 100% !important;
  }
  #search-result-page {
    margin-top: 30px;
  }
  .advanced-search .search-icon {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .nav-pills .nav-link {
    font-size: 14px !important;
    padding: 7px;
  }
  #discover .tab-content .list-unstyled {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #search .custom-input-search {
    width: 100%;
    flex: none;
    border-bottom: solid 1px #ccc;
  }
  .border-search {
    width: 50% !important;
    border: none !important;
  }
  #home-page .filter .changable-region {
    font-size: 0;
  }
  #home-page .filter .col-sm-3 {
    width: 40% !important;
    display: inline-block;
    margin: 20px 0;
    padding: 0 5px;
  }
  #home-page .filter .col-sm-1 {
    width: 16.66% !important;
    display: inline-block;
    padding: 0 5px;
  }
  .advanced-search #search-categories-div {
    padding-top: 0;
  }
  .advanced-search .search-category-dp {
    margin-bottom: 10px !important;
  }
  .advanced-search .col-md-6 .search-box {
    margin-bottom: 10px;
  }
  .search-result {
    padding: 0
  }
}
