.breadcrumb {
    background-color: transparent;
}

.breadcrumb li a,
.breadcrumb li.active {
    font-size: 18px;
    font-weight: 700;
    color: #404041;
}

.breadcrumb li.active {
    font-weight: 500;
}

.breadcrumb li a:hover {
    text-decoration: none;
}

.image-slider {}

.slide-cont h3 {
    font-size: 27px;
    font-weight: 600;
}

.slide-cont h3 {
    font-size: 27px;
    font-weight: 600;
}

.slide-info ul {
    list-style: none;
    padding: 0;
}


.slide-info ul li {
    width: 49%;
    display: inline-block;
}

.slide-info ul li:last-child {
    text-align: left;
}

.about-slide ul {
    list-style: none;
    padding: 0;
}

.about-slide ul li {
    width: 24.4%;
    display: inline-block;
    height: 60px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
}
.about-slide ul li img {
    float: right;
    margin: 14px 13px;
    width: 30px;height: 30px
}

.table-about {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 4px 15px;
    margin-bottom: 10px;
}

.table-about table tr:first-child td {
    border-top: 1px solid transparent;
}

.table-about table {
    border-top: 0;
}

.table-about table tr td {
    height: 40px;
    padding: 0;
    line-height: 40px;
}

.table-about table {
    margin-bottom: 0;
}

.ads {
    margin-bottom: 20px;
}

.box-salary {
    background-color: #f3f2f7;
    height: 80px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
}

.user-info {
    background-color: #f3f2f7;
    text-align: center;
    font-weight: bold;
}

.more-ads {
    font-size: 14px;
    color: #444;
    text-decoration: underline;
}

.user-info ul {
    padding: 0;
    margin: 0;
}

.user-info ul li {
    width: 50%;
}

.user-info ul li a {
    background: #e1e1e1;
    font-size: 14px;
    display: block;
}

.phone-info {
    background-color: #e1e1e1;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
}

.show-phone {
    float: right;
    padding: 7px 10px;
    width: 76%;
}

.phone-icon {
    width: 24%;
    float: left;
    height: 70px;
    line-height: 70px;
    background: #b3b3b3;
}

.phone-title {
    display: block;
    text-align: right;
    font-size: 14px;
}
.phone-nu {
    display: block;
    text-align: left;
    font-size: 17px;
    line-height: 56px;
}
.share-box {
    background-color: #f3f2f7;
    margin: 10px 0;
    padding: 8px;
    height: 48px;
}
.share-box span {
    font-size: 14px;
    font-weight: bold;
}
.share-box ul {
    padding: 0;
    list-style: none;
    display: inline;
    float: left;
    margin: 0;
}
.share-box ul li {
    float: left;
    margin-right: 14px;
    background: #e1e1e1;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
}
.box-title {
    background-color: #36adde;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 4px 4px 0 0;
    float: left;
}
.box-content {
    overflow: hidden;
    clear: both;
    border: 2px solid #36adde;
    padding: 5px 8px 0;
    margin-bottom: 10px;
}
.box-content ul {
    padding: 0;
    list-style: none;
}
.box-content .rounded {
    float: right;
    margin-left: 8px;
    width: 90px;
    height: 90px;
}
.box-content ul li {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box-content ul li:last-child{
    border-bottom: 0;
}
/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    margin: 15px auto 15px;
    width: 100%;
    padding: 10px;
    background-color: #f1efef;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
    padding: 0;
}

/**
 * Lineas / Detalles
 -----------------------*/


.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-right: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: right;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 87%;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    margin-right: 15px;
}

.comments-list .comment-box::before, .comments-list .comment-box::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 12px 0px 10px 11px;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    right: -11px;
}

.comments-list .comment-box::before {
    border-width: 13px 0px 11px 11px;
    border-color: transparent rgba(0,0,0,0.05);
    right: -12px;
}

.reply-list .comment-box {
    width: 87%;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: right;
    margin-left: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: right;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.comment-box .comment-head .fa-reply , .comment-box .comment-head .fa-heart{
    float: left;
}
.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {

    }

    .comments-list .comment-box {

    }

    .reply-list .comment-box {

    }
}
.box-info{
    background-color: #3e3f40;
    padding: 20px;
    color: #fff;
}
.box-info hr {
    border-top: 1px solid rgb(225, 225, 225)
}
.box-info p{
    font-size: 14px;
}

/* Cats page */
.cats-filter .box-gallery .box-title{
    background-color: #36adde;
    color: #000;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px 4px 0 0;
    float: left;
    font-weight: 500;
    width: 180px;
    height: 36px;
    text-align: center
}
.cats-filter .box-gallery .list-info h5{
    font-size: 12px;
}
.cats-filter .box-gallery .list-info span{
    font-size: 14px;
    line-height: 14px;
}
.cats-filter .box-gallery .box-content .img{
    position: relative;
    cursor: pointer;    
}
.cats-filter .box-gallery .box-content img {
    width: 84px;
    height: 84px;
}
.cats-filter .box-gallery .box-content .play-icon{
    position: absolute;
    margin: 0px !important;
    left: 0px;
    right: 31px;
    top: 33px;
    color: #faf8f8;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(0,0,0,0.25);
    text-align: center;
    line-height: 23px;
    font-size: 10px;
    border: 1.5px solid #ffff;
}
.list-info h5{
    margin: 0px;
    height: 33px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.list-info h5 a{
    font-size: 14px;
    color: #283035;
    font-family: 'DiodrumArabic Medium';    
}
.list-info .date {
}
.list-info .date img{
    width: 15px !important;
    height: 15px !important;
    display: inline-block;
}
