.mobile-icon::after {
    content: "\f3cd";
}
.map-marker-icon::after {
    content: "\f041";
}


/* my account user info page
======================
----------------------*/
#my-account-page .account-barter-search.my-account-ads {
  background-image: url(../img/my-account-ads-banner.jpg);
}
#my-account-page .account-barter-search {
  background-image: url(../img/my-account-user-info-banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 40px;
}

.my-account-ico {
  width: 39px;
  height: 46px;
  display: block;
}
.user-info-ico {
  background: url(../img/my-account-ico.png) no-repeat center center / contain;
}
.my-account-offer-ico {
  background: url(../img/my-account-offer-ico.png) no-repeat center center / contain;
}
.my-account-ads-ico {
  background: url(../img/my-account-ads-ico.png) no-repeat center center / contain;
}

.account-barter-search h5 {
  color: #3b3b3d;
  display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  font-size: 1.25rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.account-barter-search .my-account-ico {
  margin: 0 0 0 15px;
}
#my-account-page .account-barter-search .filter {
    padding: 15px;
    background: rgba(255,255,255,0.87);
}

#my-account-page .account-barter-search .breadcrumb,
#my-account-page .account-barter-search .breadcrumb-item+.breadcrumb-item::before,
#my-account-page .account-barter-search .breadcrumb li a,
#my-account-page .account-barter-search .breadcrumb li.active {
    color: #fff;
    font-size: 18px;
}

#my-account-page .account-barter-search .quick-search {
    margin: 0px auto;
}

#my-account-page .account-barter-search .quick-search .col {
    background: rgba(60,60,60,0.8);
}

.my-account-wrapper {
    padding: 50px 0;
}

.my-account-wrapper h5 {
  display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  margin: 0;
  align-items: center;
}
.my-account-wrapper .my-account-ico {
  margin: 0 0 0 15px;
  width: 30px;
  height: 35px;
}

.dubarter-account-img {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 16px;
}
.dubarter-account-img .img-fluid {
  width: 100%;
  display: block;
  border: 1px solid #d3d3d3;
  margin: 0 auto 30px;
  max-width: 372px;
}
.my-account-form {
  display: block;
  position: relative;
}

.my-account-form label {
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 75px;
}
.my-account-form label,
.my-account-form input.form-control {
  font-size: 16px;
}
.my-account-form input.form-control {
    height: 60px !important;
    padding-right: 35% !important;
}
.my-account-form input.form-control:focus{
    background-color: #fff;
    border-color: #8cad10;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(140,173,16,0.38);
}
.my-account-form .custom-input svg {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  font-size: 22px;
  color: #2a2827;
  position: absolute;
  background: #e9edf0;
  width: 65px;
  top: 0;
  right: 0;
  height: 100%;
  padding: 13px 20px;
  text-align: center;
  border:1px solid #ced4da;
}
.my-account-form .custom-input::after {
  display: none;
}
.my-account-form .form-group {
  position: relative;
}
.my-account-form .btn-block.login {
  background: #8cad10;
  color: #fff;
  padding: 15px 50px;
  font-size: 18px;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

/* my account offers page
======================
----------------------*/
.my-account-table table.table label {
  position: relative;
  top:0;
  right: 0;
  float: none;
  display: block;
  padding: 0 !important;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.my-account-table table.table .btn {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.table-ico {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
}
.edit-table-ico {
  background: url(../img/edit-table-ico.png) no-repeat center center / contain;
}
.answer-table-ico {
  background: url(../img/answer-table-ico.png) no-repeat center center / contain;
}
.delete-table-ico {
  background: url(../img/delete-table-ico.png) no-repeat center center / contain;
}

.my-account-table table.table td {
  font-weight: bold;
  color: #747475;
}
.my-account-table table.table td a {
  font-weight: bold;
  color: #747475;
  text-decoration: underline;
}
.my-account-table table.table .thead-dark th {
    background: #f0f0f0;
    color: #404041;
    text-align: center;
    border-color :#cfcccc;
}
.my-account-table table.table .thead-dark th:nth-child(2),
.my-account-table table.table .thead-dark th:nth-child(3) {
  text-align: right;
}
.my-account-table table.table.table-bordered td {
  border-color:#e9e9e9;
}

.my-account-table table.table th {
  padding: 10px;
}
.my-account-table table.table td {
  padding: 15px;
}

.my-account-table nav {
  display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  justify-content: center;
  margin: 15px 0;
}
