/* 5. TABLET - MOBILE
--------------------------------------------------------------------------------
==============================================================================*/
/*	English
===================
-------------------*/
#articles-listing {
	width: 100%;
}
.ltr .navbar-dark .put-ads {
	margin-right: 0;
	margin-left: 20px;
	padding-left: 20px;
  padding-right: 20px;
}
.ltr #search .green-btn {
	float: right;
}
.ltr .border-search::before {
	right: auto;
	left: 0;
}
.ltr .select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
    left: auto;
    right: 1px;
}
.ltr .select2-container--open .select2-dropdown, .ltr .owl-carousel .owl-stage {
	direction: ltr;
}
.ltr .vertical-list a.link {
	text-align: left;
}
.ltr .vertical-list a.link span.ads-count, .ltr #food-barter .more-restaurants, .ltr .show-more {
	float: right;
}
.ltr .col-sm-1, .ltr .col-sm-10, .ltr .col-sm-11, .ltr .col-sm-12, .ltr .col-sm-2, .ltr .col-sm-3, .ltr .col-sm-4, .ltr .col-sm-5, .ltr .col-sm-6, .ltr .col-sm-7, .ltr .col-sm-8, .ltr .col-sm-9 {
	float: left;
}
.ltr .custom-box .item-detailes .icon-box {
  padding-left: 0;
  padding-right: 8px;
}
.ltr .custom-box .favourite .fav-text {
	margin-right: 0;
	margin-left: 5px;
}
.ltr .item.featured::before {
	left: auto;
	right: -4px;
	background: url(../images/featuerd-en.png);
}
.ltr .owl-carousel .owl-stage-outer {
	padding-right: 4px;
}
.ltr #food-barter .resturant-info .resturant-logo {
	margin-left: 0;
	margin-right: 10px;
}
.ltr #food-barter .restaurant-row-title {
	padding-right: 0;
	padding-left: 10px;
}
.ltr .footer-links li:before {
	border-width: .35em 0 .45em .35em;
}
.ltr .footer-links li {
	text-align: left;
}
.ltr .footer-links li a {
	margin-right: 0;
	margin-left: 10px;
}
.ltr .dropdown-menu::before, .ltr .typeahead.dropdown-menu::before {
  right: 0!important;
  left: 10px!important;
}
.ltr .border-left {
  border-left: none!important;
	border-right: 1px solid #a9a9a9!important;
}
.ltr .lof-slidecontent .navigator-content, .ltr .category-search .b-left::before {
    left: auto;
    right: 0;
}
.ltr .lof-slidecontent ul.navigator-wrap-inner li>div {
	margin-left: 29px;
	margin-right: 0;
	text-align: left;
}
.ltr .cat-slider-thumb {
	float: left;
	margin: 9px 10px 9px 0;
}
.ltr .lof-slidecontent ul.navigator-wrap-inner li.active {
	background: url(../images/arrow-bg-en.png) no-repeat scroll left top;
}
.ltr .side-bar-filter .collapse ul li .angle-left-icon {
  padding-left: 0;
  padding-right: 8px;
}
.ltr .box-title {
  float: left !important;
}
.ltr .box-gallery .box-content .img {
	margin-left: 0;
	margin-right: 10px;
	float: left;
}
.ltr .cats-filter .box-gallery .box-content .play-icon, .ltr .box-gallery .box-content .play-icon {
	right: auto;
	left: 31px;
}
.ltr .slide-info ul li:last-child {
	text-align: right;
}
.ltr .about-slide ul li img {
	float: left;
}
.ltr .add-tags li {
	margin-left: 0;
	margin-right: 10px;
}
.ltr .share-box ul {
	float: right;
}
.ltr .control__indicator {
  left: 0!important;
  right: auto !important;
}
.ltr #login-page form label.control, .ltr #register-page form label.control {
	padding-left: 25px !important;
}
.ltr #add-post-page .input-group>.form-control:not(:last-child), .ltr #add-post-page .input-group>.custom-select:not(:last-child) {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.ltr #add-post-page .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border-radius: 0px 4px 4px 0px !important;
}
.ltr #add-post-page .header-icon {
	right: auto;
	left: 10px;
}
.ltr .account-barter-search .my-account-ico, .ltr .my-account-wrapper .my-account-ico {
  margin: 0 15px 0 0;
}
.ltr .my-account-form .custom-input svg {
	right: auto;
	left: 0;
}
.ltr .my-account-form label {
	right: auto;
	left: 75px;
}
.ltr #my-account-page .my-account-form input.form-control {
  padding-right: 20px !important;
	padding-left: 215px !important;
}
.ltr .my-account-table table.table .thead-dark th:nth-child(2), .ltr .my-account-table table.table .thead-dark th:nth-child(3) {
	text-align: left;
}
/*	images
===================
-------------------*/

.cats-filter .latest-sec .ad img {
	height: auto;
	max-width: 157px;
	margin: 0 auto;
	display: block;
}
#search-result-page .ads-search img {
	height: auto;
}
/*	sub category3 page
===================
-------------------*/
.car-model-box .car-img {
	height: auto;
}

/*	my account pages
======================
----------------------*/
.my-account-form input.form-control {
	padding-right: 190px !important;
}

/*	navegation
===================
-------------------*/
.mobile-navbar {
	display: none;
}


/*	Images
------------------------------------------
==========================================*/
#sub-category-ads-listing .custom-box,
#sub-category-ads-listing .custom-box .card-img-header {
	height: auto;
}
#sub-category-ads-listing .brand-box,
#sub-category-ads-listing .brand-box .brand-img img {
	height: auto;
}
#sub-category-ads-listing .brand-box .brand-img img {
	width: 100%;
}

#artical-barter .custom-box,
#artical-barter .custom-box .card-img-header,
#blog-barter .custom-box,
#blog-barter .custom-box .card-img-header,
#style-barter .custom-box,
#style-barter .custom-box .card-img-header,
#pills-tabContent .custom-box,
#pills-tabContent .custom-box .card-img-header,
.category-slider .custom-box,
.category-slider .custom-box .card-img-header {
	height: auto;
	max-height: inherit;
	min-height: inherit;
}


#sub-category-ads-listing .custom-box .card-img-header img,
#artical-barter .custom-box .card-img-header img,
#blog-barter .custom-box .card-img-header img,
#style-barter .custom-box .card-img-header img,
#pills-tabContent .custom-box .card-img-header img,
#videos .owl-carousel .item img,
.category-slider .custom-box .card-img-header img {
	width: 100% !important;
	height: auto !important;
	max-height: inherit;
	min-height: inherit;
}
#videos .owl-carousel .item img {
	margin: 0;
}
#videos .owl-carousel .item .title img {
	width:24px !important;
	height: auto !important;
}

#search-ads-listing .custom-box,
#search-ads-listing .custom-box .card-img-header img,
#search-ads-listing .custom-box .card-img-header {
	height: auto;
}

#style-barter .style-artical {
	height: auto !important;
}

#food-barter .food-card {
	height: auto;
	margin: 0 0 15px;
}
#food-barter .food-card img {
	height: auto;
	width: 100%;
	max-height: inherit;
	min-height: inherit;
}



.add-ads-button-round,
.mobile-new-show-only {
	display: none;
}

#auto-barter .filter,
#aqura-barter .filter,
#food-barter .filter,
#style-barter .filter,
#blog-barter .filter {
	max-width: 839px;
	margin: 0 auto;
	display: block;
}

.filter .col-lg-10 .col-sm-5 .home-search-input {
		width: 100%;
}
.filter .col-lg-10 .col-sm-5 .select2-container {
		width: 100% !important;
}

.search-icon {
	display: block;
	margin: 0 auto;
}

.show-on-mobile-only-new {
		display: none;
}

.owl-carousel {
	position: relative;
	overflow: hidden;
}
.owl-theme .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: -17px 0 0 !important;
}
.owl-next {
	top:0 !important;
	right: -35px;
}
.owl-prev {
	top:0 !important;
	left: 35px;
}

#cats-page .slider .container > .row > .col-sm-8.slide-cont .new-car .row {
		width:100%;
}

.ad-featuered-img img {
	width: 100%;
}
@media (max-width: 1200px) {
	/*body {
		background:#FFC;
	}*/

	/*	commen classes
	===================
	-------------------*/
	.custom-scrolltop {
		z-index: 9999;
	}

	/*	navegation
	===================
	-------------------*/
	.mobile-navbar {
		display: none;
		margin: 0;
		width: 100%;
		padding: 0;
		background: #acc04f;
		position: relative;
	}
	.navbar-dark .mobile-navbar .nav-icon {
		color: #38393b;
	}
	#discover .tab-content .list-unstyled {
		padding-right: 0;
		padding-left: 40px;
	}
	.box-breadcrumb nav .breadcrumb-item + .breadcrumb-item::before {
		color: #fff;
	}
	.box-breadcrumb nav .breadcrumb.mr-5,
	.box-breadcrumb nav .breadcrumb.mx-5 {
		margin-right: 0 !important;
	}

	/*	sub category slider online page
	===================
	-------------------*/
	.lof-slidecontent ul.navigator-wrap-inner li p {
		max-height: 62px;
		display: block;
		overflow: hidden;
	}

	#artical-barter #articles-listing {
		width: 100%;
	}


	#videos .nav-item,
	#auto-barter .nav-item,
	#aqura-barter .nav-item,
	#blog-barter .nav-item,
	#artical-barter .nav-item,
	#style-barter .nav-item,
	#cats-page #discover .nav-item {
		margin: 0;
		padding: 5px;
		height: auto;
	}

	#search .select2-container {
		width: 100% !important;
		margin: 0;
		font-weight: bold;
	}
	#search .select2-container--default .select2-selection--single {
		border: 0;
		background: none;
	}

	#artical-barter.tab-content,
	#blog-barter.tab-content
	#style-barter.tab-content,
	#pills-tabContent.tab-content,
	#videos.tab-content {
		height: auto;
	}

	/*	Login page
	===================
	-------------------*/
	#login-page .twitter,
	#register-page .twitter,
	#login-page .facebook,
	#register-page .facebook {
		width:100%;
		max-width: 369px;
	}
	#login-page .twitter,
	#register-page .twitter {
		margin-bottom: 15px;
	}
	#login-page .facebook.mr-3,
	#register-page .facebook.mr-3 {
		margin-right: 0 !important;
	}

	/*	ad page
	===================
	-------------------*/
	#cats-page .slider .share-box {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		height: auto;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#cats-page .slider .share-box > span {
		margin: 0 0 15px;
		padding-right: 14px;
	}
	#cats-page .slider .share-box ul li {
		float: right;
		margin-bottom: 14px;
	}



	#cats-page .owl-nav {
		margin: -17px 0 0 !important;
	}

	#cats-page #discover .title span {
    left: 50%;
    margin: 0 0 0 -90px;
	}


	a.detailed-search {
		float: right;
		font-weight: bold;
		line-height: 29px;
		padding: 12px;
		text-shadow: 1px 1px 1px #ececec;
		cursor: pointer;
		display: inline !important;
	}

}

@media (max-width: 1199px) {
	/*body {
		background:#f05;
	}*/

	/*	navegation
	===================
	-------------------*/
	.navbar-collapse .navbar-nav {
		width: 100%;
		padding: 15px 0 0;
	}
	.navbar-collapse .navbar-nav .nav-item {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: right;
	}
	.navbar-collapse .navbar-nav .nav-item + .nav-item {
		padding: 0;
		margin: 0;
	}
	.navbar-collapse .navbar-nav .nav-item a {
		border-top: 1px solid rgba(255,255,255,.1);
		padding: 10px 15px;
	}
	.navbar-collapse .navbar-nav .nav-item:last-child a {
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
	.navbar-collapse .navbar-nav .nav-item a svg {
		float: left;
	}
	.navbar-collapse .navbar-nav .nav-item a:hover,
	.navbar-collapse .navbar-nav .nav-item a:focus,
	.navbar-collapse .navbar-nav .nav-item.active a {
		background: #3b3b3d;
		color: #e62f5e !important;
	}
	.navbar-nav .dropdown,
	.navbar-nav .dropdown-menu {
		position: relative;
	}
	.dropdown-menu {
		border-radius: 0;
		margin: 0;
		padding: 0;
	}
	.navbar-collapse .navbar-nav .dropdown-menu::before,
	.navbar-collapse .navbar-nav .typeahead.dropdown-menu::before {
		right: 0 !important;
		margin-right:2px;
	}

	.sec-navbar  {
		display: none;
	}
	.mobile-navbar {
		display: block;
	}
	.mobile-navbar .navbar-nav {
		margin: 0;
		padding: 0;
		justify-content: flex-end;
		flex-direction: row;
		-webkit-flex-direction: row;
		height: 31px;
		min-height: inherit;
	}
	.mobile-navbar .navbar-nav li {
		position: relative;
	}
	.mobile-navbar .navbar-nav li:first-child {
		margin-left: auto !important;
	}
	.mobile-navbar .navbar-nav .nav-link {
		display: block;
		padding: 5px 15px;
		font-size: 14px !important;
		float: right;
		color: #38393b !important;
		height: auto;
	}
	.navbar-dark .mobile-navbar .navbar-nav .nav-link.put-ads {
		background: #5f6d1e;
		color: #fff !important;
		padding: 4px 5px 3px;
		font-size: 16px !important;
	}
	.navbar-dark .mobile-navbar .put-tisement {
		padding: 5px 15px !important;
		color: #fff !important;
	}
	.navbar-dark .mobile-navbar .dropdown .dropdown-menu {
		background: #343233;
	}
	.navbar-dark .mobile-navbar .dropdown-menu::before,
	.navbar-dark .mobile-navbar .typeahead.dropdown-menu::before {
		background: #343233;
	}
	.navbar-dark .mobile-navbar .dropdown-menu {
		position: absolute;
		right: 5px;
		top: 32px;
	}
	.dropdown-item,
	.dropdown-item:hover,
	.dropdown-item:focus {
		font-size: 12px;
		color: #fff;
	}
	.dropdown-item:hover,
	.dropdown-item:focus {
		background: none;
		color: #e62f5e;
	}
	.navbar > .container {
		padding: 10px 15px;
	}

	.navbar-dark .navbar-toggler {
		border-color: #3b3b3d;
	}
	.navbar-dark .navbar-collapse .dropdown:hover .dropdown-menu {
		background: #3b3b3d;
		border: 0;
	}
	.navbar-dark .navbar-collapse .dropdown-menu::before,
	.navbar-dark .navbar-collapse .typeahead.dropdown-menu::before {
		background: #3b3b3d;
	}
	.navbar-collapse .navbar-nav .nav-item a.dropdown-item {
		color: #fff;
		border: 0;
	}
	.navbar-dark .navbar-collapse  .dropdown-menu {
		padding: 0 5%;
	}

	footer .container {
		max-width: 100%;
	}
	footer .row .col-lg-4:first-child {
		overflow: hidden;
	}

	/*	online home page
	------------------------------------------
	==========================================*/
	#food-barter .restaurant-row-title a {
		font-size: 12px;
	}
	#food-barter .resturant-info .resturant-logo {
		margin-bottom: 10px;
	}

	.category-search .quick-search a {
		font-size: 12px;
	}


	.mobile-new-show-only {
		display: block;
	}
	.navbar-dark .put-ads {
    padding: 5px 18px;
    height: auto;
    margin-right: 0;
	}


	.add-ads-button-round {
		display: block;
		position: fixed;
	  left: 20px;
	  bottom: 20px;
	  -moz-border-radius: 80px;
	  -webkit-border-radius: 80px;
	  border-radius: 80px;
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  font-family: Sans-serif;
	  font-size: 12px;
	  text-align: center;
	  background-color: #55681b;
	  -moz-box-shadow: 0 0 5px 2px #999;
	  -webkit-box-shadow: 0 0 5px 2px #999;
	  box-shadow: 0 0 5px 2px #999;
		z-index: 9999;
	}

	.add-ads-button-round  span {
		background: none;
			color: #fff;
		display: block;
		font-size: 10px;
		margin: 13px 10px;
		border-radius: 25px;
		text-align: center;
		font-weight: bold;
	}

	.plus-ico {
		width: 100px;
		height: 100px;
		display: block;
		background: url(../img/plus-ico.png) no-repeat center center / contain;
	}
	.add-ads-button-round .plus-ico {
		width: 12px;
		height: 12px;
		position: absolute;
		bottom: 2px;
		right: 2px;
	}

	.card.viedo .video-details.d-none {
    display: block!important;
	}


}

@media (max-width: 1070px) {
	/*body {
		background:#F00;
	}*/

	/*	commen classes
	===================
	-------------------*/
	.footer-links li a {
		font-size: 12px;
	}

	/*	sub category page
	===================
	-------------------*/
	.cats-filter .box-gallery .box-content .img {
		float: right;
	}
	.cats-filter .box-gallery .box-content .list-info {
		float: right;
		width: calc(100% - 100px);
	}
	.cats-filter .box-gallery .list-info span {
		font-size: 10px;
	}

	.cats-filter .row > .w-18:first-child {
		width:25% !important;
	}
	.cats-filter .row > .w-18.latest-sec {
		width:100% !important;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		padding: 0 !important;
	}
	.cats-filter .row > .w-60 {
		width: calc(75% - 2rem )!important;
	}

	.cats-filter .row > .w-18.latest-sec .ad.mb-3,
	.cats-filter .row > .w-18.latest-sec .box-gallery {
		padding: 0 1rem;
		width: calc(50% - 2rem);
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}
	.cats-filter .row > .w-18.latest-sec .ad.mb-3 {
		display: none;
	}
	.search-result.cats-filter {
		padding-bottom: 40px;
	}
	.side-bar-filter .ad_one img {
		height: auto;
	}

	/*	ad page
	===================
	-------------------*/
	#cats-page .slider .box-gallery .list-info h5 {
		font-size: 12px;
	}

	.navbar-dark.fixed-top {
		height: auto;
	}

}

@media (max-width: 991px) {
	/*body {
		background:#FF0;
	}*/

	/*	common classes
	===================
	-------------------*/
	.footer-links li {
		width: 50%;
		text-align: center;
		margin: 0 0 10px;
	}
	.footer-links li:before {
		border: 0;
	}
	.footer-links li a {
		margin: 0;
	}
	.social-area-title {
		text-align: center;
	}
	footer .social-area-pages li a {
		height: auto;
	}
	/*	Login page
	===================
	-------------------*/
	#register-page .login {
		margin-bottom: 15px;
	}
	#register-page .login-bg {
		height: 100% !important;
	}

	/*	category page
	===================
	-------------------*/
	.slider .row {
		margin: 0;
		width: 100%;
	}
	.slider .col-5,
	.slider .col-7 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		max-width: 100%;
	}
	.slider .col-7 {
		order: 1;
	}
	.slider .col-5 {
		order: 2;
	}
	.slider .col-7.pr-0 {
		padding-right: 15px !important;
	}

	.slider .list-group-item img {
		float: right;
	}
	.slider-tabs .list-group-item div {
		float: left;
		width: calc(100% - 80px);
		padding: 0 15px 0 0;
	}

	/*	search result page
	===================
	-------------------*/
	.search-result .quike-search .col-lg-4 .float-right {
		float: none !important;
		max-width: 130px;
		margin: 5px auto 0;
		display: block;
	}
	.search-result .container > .row > .col-md-8 {
		-webkit-box-flex: 0 0 58.333333%;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	/*	ad page
	===================
	-------------------*/
	.user-info ul.d-flex {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 10px 0 5px;
	}
	.user-info ul li {
		width: 100%;
		padding: 0 !important;
		margin: 5px 0;
	}
	#cats-page .slider .col-sm-4 .box-gallery .box-content .list-info {
		width: 100%;
		display: block;
		float: right;
		margin-top: 10px;
	}

	#cats-page .slider .about-slide ul {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	#cats-page .slider  .about-slide ul li {
		height: auto;
		width: auto;
		-webkit-box-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		margin: 0 0 0 5px;
	}
	#cats-page .slider .about-slide ul li img {
		margin: 15px auto 0;
		float: none;
		display: block;
	}
	#cats-page .slider .image-slider.mb-5 {
		margin-bottom: 1rem !important;
	}
	#cats-page .slider .ps-icon {
		width: 50px !important;
		height: 50px !important;
	}
	#cats-page .slider .ps-icon-wrapper {
		bottom: 20px;
	}
	#cats-page .slider .col-sm-4 .box-gallery .box-content .list-info {
		width: 100%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin-top: 10px;
		float: right;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	/*	add post page
	===================
	-------------------*/
	.form-label {
		font-size: 15px;
	}

	/*	sub category online
	===================
	-------------------*/
	.lof-slidecontent .navigator-content {
		position: relative;
		width: 100%;
	}
	.lof-slidecontent .sliders-wrapper,
	.lof-slidecontent .navigator-wrapper,
	.lof-slidecontent ul.navigator-wrap-inner,
	.lof-slidecontent ul.navigator-wrap-inner li {
		width: 100% !important;
	}
	.lof-slidecontent .navigator-content {
		height: auto;
	}
	.category-slider .custom-box {
		height: auto;
	}
	.lof-slidecontent ul.navigator-wrap-inner li {
		overflow: hidden;
	}
	.lof-slidecontent ul.navigator-wrap-inner li > div {
		margin-right: 14px;
	}
	.lof-slidecontent .slider-description p,
	.lof-slidecontent ul.navigator-wrap-inner li p {
		font-size: 12px;
	}
	.cats-filter .img-logo {
		margin: 0;
	}




	#home-page #food-barter .col-md-3.restaurant-sidebar {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	#home-page #food-barter .filter-search .col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	#home-page #food-barter .filter-search .col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	#food-barter .resturant-info > div {
		width: 100%;
	}
	#food-barter .resturant-info .resturant-desc {
		width: calc(100% - 85px);
		float: left;
		margin:0 0 15px;
	}


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	/*body {
		background:#0f0;
	}*/

	/*	commen classes
	===================
	-------------------*/
	.container {
		max-width: 640px;
	}

	footer .social-area-pages {
		width: 100%;
	}
	footer .social-area-pages li {
		width: 16.666%;
		padding: 0 5px;
	}
	footer .social-area-pages li a {
		width: 100%;
		padding: 10px 0;
		font-size: 24px;
	}


	/*	Login page
	===================
	-------------------*/
	#login-page .login-bg,
	#register-page .login-bg {
		height: 142px !important;
	}

	#login-page .login-bg,
	#register-page .login-bg {
		background: url(../img/login-bg.jpg) no-repeat center center / cover #7F7A7E;
	}

	#login-page .avater-icon,
	#register-page .avater-icon {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#login-page h6,
	#register-page h6 {
		margin-right: 15px;
	}

	#login-page .twitter,
	#register-page .twitter,
	#login-page .facebook,
	#register-page .facebook {
		width:100%;
		max-width: inherit;
	}

	.card .form-container {
		padding: 0 15px;
	}
	footer .right-left-border {
		border: 0;
	}
	.footer-links {
		padding: 0;
	}

	/*	category page
	===================
	-------------------*/
	.auto-barter-search {
		background-position: left top;
	}
	.auto-barter-search .filter {
		padding: 15px;
		background: #19a0e0;
		display: block;
		height: 173px;
	}
	.auto-barter-search .filter .custom-select-2 {
		width: 48%;
		-webkit-box-flex: 0 0;
		-ms-flex: 0 0;
		flex: 0 0;
		margin: 0 1% 5px;
		height: 34px;
		float: right;
	}
	.select2-dropdown {
		border-color: #fff;
		border-radius: 0;
	}
	.auto-barter-search .filter .d-flex {
		display: block !important;
	}
	.auto-barter-search .search-btn {
		padding: 3px 15px;
		text-align: center;
		margin: 0 1%;
		float: right;
		width: 48%;
	}
	#discover .tab-content .list-unstyled.border-left {
		border-left: 0 !important;
	}


	.auto-barter-search .quick-search .col {
		padding: 0;
	}
	.auto-barter-search .quick-search .col:nth-child(1),
	.auto-barter-search .quick-search .col:nth-child(2) {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.auto-barter-search .quick-search .col:nth-child(3),
	.auto-barter-search .quick-search .col:nth-child(4),
	.auto-barter-search .quick-search .col:nth-child(5) {
		-webkit-box-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}

	/*	category online page
	===================
	-------------------*/
	.category-search {
		padding:45px 0 0 0;
	}
	.category-search .box-filter {
		width: 100%;
	}
	.category-search .filter {
		padding: 15px;
		background: #19a0e0;
		display: block;
		height: auto;
	}
	.category-search .filter .custom-select-2 {
		width: 48%;
		-webkit-box-flex: 0 0;
		-ms-flex: 0 0;
		flex: 0 0;
		margin: 0 1% 5px;
		height: auto;
		float: right;
	}
	.select2-dropdown {
		border-color: #fff;
		border-radius: 0;
	}
	.category-search .filter .d-flex {
		display: block !important;
	}
	.category-search .search-btn {
		padding: 10px 15px;
		text-align: center;
		margin: 0 1%;
		float: right;
		width: 48%;
		height: 49px
	}

	/*	sub 5
	===================
	-------------------*/
	.category-search .quick-search .col {
		padding: 0;
	}
	.category-search .quick-search .col:nth-child(1),
	.category-search .quick-search .col:nth-child(2),
	.category-search .quick-search.sub-five .col:nth-child(1),
	.category-search .quick-search.sub-five .col:nth-child(2)  {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.category-search .quick-search.sub-five .col:nth-child(2) {
		border-left: 0 !important;
	}
	.category-search .quick-search .col:nth-child(3),
	.category-search .quick-search .col:nth-child(4),
	.category-search .quick-search .col:nth-child(5),
	.category-search .quick-search.five-sub .col:nth-child(3),
	.category-search .quick-search.five-sub .col:nth-child(4),
	.category-search .quick-search.five-sub .col:nth-child(5) {
		-webkit-box-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}


	/*	sub 4
	===================
	-------------------*/
	.category-search .quick-search.four-sub .col:nth-child(1),
	.category-search .quick-search.four-sub .col:nth-child(2) {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.category-search .quick-search.four-sub .col:nth-child(3),
	.category-search .quick-search.four-sub .col:nth-child(4) {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	/*	sub 3
	===================
	-------------------*/
	.category-search .quick-search.three-sub .col:nth-child(1),
	.category-search .quick-search.three-sub .col:nth-child(2),
	.category-search .quick-search.three-sub .col:nth-child(3) {
		-webkit-box-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	/*	sub 2
	===================
	-------------------*/
	.category-search .quick-search.two-sub .col:nth-child(1),
	.category-search .quick-search.two-sub .col:nth-child(2) {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	/*	sub 1
	===================
	-------------------*/
	.category-search .quick-search.one-sub .col:nth-child(1),
	.category-search .quick-search.one-sub .col:nth-child(2) {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	/*	sub category page
	===================
	-------------------*/
	.cats-filter .row > .w-60 .col-md-4 {
		width: 50%;
	}

	/*	sub category2 page
	===================
	-------------------*/
	.cats-filter .row > .w-60 .col-md-3 {
		width: 33.333%;
	}

	/*	sub category food page
	===================
	-------------------*/
	.cats-filter .row > .col-md-4.latest-sec {
		width:100% !important;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		padding: 0 !important;
	}
	.cats-filter .row > .col-md-4.latest-sec .ad.mb-3,
	.cats-filter .row > .col-md-4.latest-sec .box-gallery {
		padding: 0 1rem;
		width: calc(50% - 2rem);
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}
	.cats-filter .row > .col-md-4.latest-sec .ad.mb-3 {
		display: none;
	}
	.food-barter-search .quick-search .col {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding: 0;
		max-width: 50%;
	}
	.food-barter-search .quick-search .col.border-left {
		border: 0 !important;
	}
	#food-page .food-barter-search .quick-search a {
		margin: 1px 0;
		border-left: 1px solid #fff !important;
	}
	#food-page .food-barter-search .quick-search .col:nth-child(even) a {
		border-left: 0 !important;
	}
	#food-page .resturant-details .row {
		margin: 0 5px;
	}
	.resturant-details {
		border-top: 1px solid #c4c8ca;
		border-right: 1px solid #c4c8ca;
		border-left: 1px solid #c4c8ca;
	}
	.resturant-info-one,
	.resturant-info-two {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.resturant-info-two .update {
		margin: 10px 0 0;
	}
	.resturant-details .col-md-4,
	.resturant-details .col-md-8 {
		float: right;
	}
	.resturant-details .col-md-4 {
		width: 25%;
	}
	.resturant-details .col-md-8 {
		width: 75%;
	}



	/*	search result page
	===================
	-------------------*/
	.search-result .container > .row > .col-md-4,
	.search-result .container > .row > .col-md-8 {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	 	margin-bottom: 10px !important;
	}
	.search-result .img-fluid {
		width: 100%;
	}
	.search-result .container > .row > .col-md-3 {
		-webkit-box-flex: 0;
		-ms--webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.search-result-search .search .filter .search-btn {
		padding: 3px 15px;
		text-align: center;
	}
	.search-result .quike-search .col-lg-8 {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#search-result-page .search-result .quike-search .custom-select-2 {
		width: 100%;
		margin: 0 0 1px;
	}
	.search-result .quike-search .d-inline-block {
		margin: 0 0 10px;
	}
	.pagination.justify-content-end {
		-webkit-justify-content: center !important;
		justify-content: center !important;
		margin-top: 15px;
		padding-right: 0;
	}
	.search-result .count-ads {
		float: left;
	}

	/*	ad page
	===================
	-------------------*/
	#cats-page .auto-barter-search .filter {
		height: auto;
	}
	#cats-page .slider .container > .row > .col-sm-8.slide-cont,
	#cats-page .slider .container > .row > .col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	#cats-page .slider .container > .row > .col-sm-4 .box-gallery {
		width: calc(50% - 7.5px);
		float: right;
		margin-bottom: 15px;
	}
	#cats-page .slider .container > .row > .col-sm-4 .box-gallery:last-child {
		margin-right: 15px;
	}
	#cats-page .slider .col-sm-4 .box-gallery .box-content .list-info {
		width: calc(100% - 100px);
	}
	#cats-page .slider .about-slide ul {
		display: block;
	}
	#cats-page .slider .about-slide ul li {
		display: inline-block;
		width: 48%;
		margin: .5%;
	}
	#cats-page .slider .about-slide ul li img {
		float: right;
		padding: 0 5px;
	}

	/*	add post page
	======================
	----------------------*/
	#add-post-page .add-img .px-5,
	#add-post-page .add-video .pr-5  {
		padding:0 15px !important;
	}
	#add-post-page .image-list li {
		float: right;
		padding: 0 5px;
	}
	#add-post-page .img-card {
		margin: 0 0 15px;
	}

	/*	my account user info page
	===================
	-------------------*/
	.dubarter-account-img .img-fluid {
		margin: 0 auto;
	}
	.my-account-form .btn-block.login {
		margin: 0 auto;
	}
	.account-barter-search .quick-search .col {
		-webkit-box-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding: 0;
		max-width: 50%;
	}
	.account-barter-search .quick-search .col.border-left {
		border: 0 !important;
	}
	.account-barter-search .quick-search a {
		margin: 1px 0;
		border-left: 1px solid #fff !important;
	}
	.account-barter-search .quick-search .col:nth-child(even) a {
		border-left: 0 !important;
	}
	#my-account-page .search-result .container > .row > .col-md-4 {
		order: 1;
	}
	#my-account-page .search-result .container > .row > .col-md-8 {
		order: 2;
	}
	#my-account-page .account-barter-search.my-account-ads {
		background-position: bottom right;
	}
	.search-result.my-account-wrapper .count-ads {
		float: none;
	}


	/*	sub category online page
	===================
	-------------------*/
	.category-search .box-breadcrumb {
		width: 100%;
	}
	.category-search .breadcrumb li a,
	.category-search .breadcrumb li.active {
		font-size: 14px;
	}
	.category-search .breadcrumb.mr-5,
	.category-search .breadcrumb.mx-5 {
		margin-right:0 !important;
	}
	.category-search #articles-listing {
		width: 100%;
	}
	#sub-category-ads-listing > .row {
		margin: 0;
	}


	/*	home slider page
	===================
	-------------------*/


	#search .logo-search {
		padding: 50px 0 24px 0;
	}

	#categories .cat-box li.flex-slide {
		width: 48% !important;
		margin: 1%;
		position: relative;
		height: 138px;
	}

	#categories .cat-box li.flex-slide:nth-child(3),
	#categories .cat-box li.flex-slide:nth-child(4),
	#categories .cat-box li.flex-slide:nth-child(5){
		width:31.3% !important;
	}

	.search-input .row .custom-input-search:nth-child(2),
	.search-input .row .custom-input-search:nth-child(3){
		display: none !important;
	}

	/*#categories .cat-box li.flex-slide:last-child {*/
		/*margin: 1%;*/
		/*width:100% !important;*/
	/*}*/
	.cat-box li.flex-slide .gray-overlay {
		width: 100%;
	}
	.cat-box li.flex-slide .body-box .main-image {
		width: 100%;
	}
	.cat-box .slide-details {
		display: none;
	}
	#categories .cat-box li .header-box {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		z-index: 1;
	}
	#categories .cat-box li .header-box .circle {
		top: -23px;
	}
	#categories .cat-box li .header-box h3 {
		margin: 10px 0 0;
	}
	#categories .cat-box li .header-box h3,
	#categories .cat-box li .header-box h3 a {
		display: block;
	}

	#search .search-input {
		width: 100%;
		overflow: hidden;
		display: block;
	}
	#search .green-btn {
		width: 100%;
		margin: 5px 0 15px;
		padding: 5px 15px;
		height: auto;
	}

	.select2-results__option {
		font-size: 10px;
	}


	#sub-category-ads-listing .row .col-md-4.pl-0
	{
		width: 48%;

	}

	.cats-filter .breadcrumb li a, .cats-filter .breadcrumb li.active {
		font-size: 14px;
	}


	#sub-category-ads-listing .custom-box .card-body {
		border-top: 1px solid #ddd;
		padding: 8px 15px 4px;
		min-height: 133px;
	}

	.icon-box {
		background: #efefef;
		padding: 2px;
		margin: 0 2px 2px 0;
		min-width: 50px;
		float: right;
	}

	.icon-box .icon{
		margin: 3px 7px 0 0;
	}

	.category-search .custom-select-2:nth-child(2),
	.category-search .custom-select-2:nth-child(3){
		display: none !important;
	}
}

@media (max-width: 767px) {
	#home-page #food-barter .filter-search .col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	#home-page #food-barter .filter-search .col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	#categories .cat-box li .header-box h3 {
		opacity: 1 !important;
	}

	/*.nav.nav-pills {
		display: none;
	}*/

	#cats-page .slider.category-main-off-mobile {
		display: none;
	}
	.custom-box .info .item-detailes .icon {
		width: 14px !important;
		height: 14px !important;
	}
	#cats-page .slider .about-slide ul li a img {
		width: 30px;
		height: 25px;
	}
	#auto-barter .filter,
	#aqura-barter .filter,
	#food-barter .filter,
	#blog-barter .filter {
		width: 100%;
		position: relative;
		display: block;
		overflow: hidden;
	}

	#discover .tab-content {
		display: block;
		margin: 15px 0;
	}

	footer .fb_iframe_widget {
		margin: 0 0 15px;
		width: 100%;
		overflow: hidden;
		display: block;
	}


	.show-on-mobile-only-new {
		display: block;
		padding: 60px 0 0;
	}
	.show-on-mobile-only-new .category-slider .custom-box {
		background: #3b3b3d;
	}
	.show-on-mobile-only-new .category-slider .custom-box .card-body {
		border-top-width: 4px;
		border-top-style: solid;
	}
	.show-on-mobile-only-new .category-slider .custom-box .card-body h4 {
		font-size: 16px !important;
		color: #fff;
		line-height: 24px;
		height: 48px;
		display: block;
		overflow: hidden;
	}
	.show-on-mobile-only-new .category-slider .custom-box .card-body p {
		color: #fff;
		font-size: 12px;
		line-height: 22px;
		color: #a4a4a4;
	}
	.show-on-mobile-only-new .category-slider .custom-box .card-body .desc {
		display: block;
    overflow: hidden;
    height: 88px;
    margin: 0 0 1rem;
	}
	.show-on-mobile-only-new .category-slider .custom-box .card-body .read-more {
		color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 0 15px;
    font-size: 10px;
	}

	#cats-page #discover .nav-pills.mt-3 {
		margin-top: 2rem!important;
	}

	#cats-page #discover .discover-list li {
		float: right;
		width: 33.333%;
	}

}


@media (min-width: 480px) and (max-width: 767px) {

}

/* Landscape phone */
@media (max-width: 680px) {
	/*body {
		background:#0ff;
	}*/

	/*	category page
	===================
	-------------------*/
	.search.w-75 {
		width: 100% !important;
	}

	/*	sub category page
	===================
	-------------------*/
	.cats-filter .row > .w-18:first-child,
	.cats-filter .row > .w-60 {
		width: 100% !important;
	}
	.cats-filter .row > .w-18,
	.cats-filter .row > .w-60 {
		padding: 0 1rem !important;
	}
	.cats-filter .row > .w-60 .row {
		margin-left: 0;
	}
	.side-bar-filter {
		margin: 0 0 1rem;
	}
	.card .img-fluid {
		width: 100%;
	}

	/*	category online page
	===================
	-------------------*/
	.category-search .quick-search a {
		font-size: 12px;
	}

	/*	sub category2 page
	===================
	-------------------*/
	.side-bar-filter .ad_one,
	.side-bar-filter .ad_two {
		width:50%;
		float: right;
	}
	.side-bar-filter .ad_one img,
	.side-bar-filter .ad_two img {
		width: auto;
		height: 200px;
		margin: 0 auto;
		display: block;
	}

	/*	sub category3 page
	===================
	-------------------*/
	.car-model-box .card-body .car-img {
		margin: 0 auto;
		display: block;
	}


	/*	my account user info page
	===================
	-------------------*/
	#my-account-page .account-barter-search.my-account-ads {
		background-position: left top ;
	}

	/*	online search result page
	===================
	-------------------*/
	#search-result-page .quike-search .custom-select-2 {
		width: 100%;
		margin: 0 0 5px;
	}

	#videos .nav-item,
	#auto-barter .nav-item,
	#aqura-barter .nav-item,
	#blog-barter .nav-item,
	#artical-barter .nav-item,
	#style-barter .nav-item,
	#cats-page #discover .nav-item {
		width: 50%;
		display: inline-grid;
	}


}

@media (max-width: 575px) {
	/*body {
		background: #f0f;
	}*/

	/*	ad page
	===================
	-------------------*/
	#cats-page .slider .container > .row > .col-sm-4 .box-gallery {
		width: 100%;
		margin: 15px 0 0;
	}
	#cats-page .slider .container > .row > .col-sm-4 .box-gallery:last-child {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.filter .justify-content-md-center .col-lg-10 {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.filter .justify-content-md-center .col-lg-10 .col-sm-5 {
  	-webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
		padding: 0 5px;
	}
	.filter .justify-content-md-center .col-lg-10 .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
		padding: 0 5px;
	}
	.filter .justify-content-md-center .col-lg-10 .col-sm-2 .search-icon {
		width: 100%;
	}
	.filter .justify-content-md-center .col-lg-10 .col-sm-2 .search-icon img {
		top: 50%;
		margin: -10px 0 0 -12.5px;
		left: 50%;
	}

	#cats-page #discover .discover-list li {
		width: 50%;
	}


}

/* Landscape phones and down */
@media (max-width: 480px) {
	/*body {
		background:#f00;
	}*/

	/*	category page
	======================
	----------------------*/
	.auto-barter-search,
	.category-search {
		padding:45px 0 0 0
	}
	.auto-barter-search .quick-search.sub-five .border-left.col:nth-child(2),
	.category-search .quick-search.sub-five .border-left.col:nth-child(2) {
		border-left: 0 !important;
	}

	/*	sub category page
	======================
	----------------------*/
	.cats-filter .row > .w-18.latest-sec .ad.mb-3 {
		display: block;
	}
	.cats-filter .row > .w-60 .col-md-4 {
		width: 50%;
	}
	.cats-filter .row > .w-18.latest-sec {
		display: block;
		padding: 0 1rem !important;
	}
	.cats-filter .row > .w-18.latest-sec .ad.mb-3,
	.cats-filter .row > .w-18.latest-sec .box-gallery {
		width: 100%;
	}
	.cats-filter .latest-sec .ad img {
		width: auto;
		display: block;
		margin: 0 auto;
	}
	.search-result .card-body .car-info div.ml-2,
	.search-result .card-body .car-info div.mx-2 {
		margin-left: 0 !important;
	}
	.search-result .card-footer {
		font-size: 12px;
	}

	/*	sub category2 page
	===================
	-------------------*/
	.side-bar-filter .ad_one,
	.side-bar-filter .ad_two {
		width:50%;
		float: right;
	}
	.cats-filter .row > .w-60 .col-md-3 {
		width: 33.333%;
		padding: 0 15px;
	}

	/*	sub category food page
	===================
	-------------------*/
	#food-page .food-barter-search {
		padding: 60px 0 0;
	}
	.cats-filter .row > .col-md-4.latest-sec .ad.mb-3 {
		display: block;
	}
	.cats-filter .row > .col-md-4.latest-sec {
		display: block;
	}
	.cats-filter .row > .col-md-4.latest-sec .ad.mb-3,
	.cats-filter .row > .col-md-4.latest-sec .box-gallery {
		width: 100%;
	}
	.cats-filter .col-md-4.latest-sec .ad img {
		width: auto;
		display: block;
		margin: 0 auto;
	}

	/*	search result page
	===================
	-------------------*/
	.search-result .count-ads {
		float: right;
		width: 100%;
		padding: 0 0.5rem 0 0;
		margin: 15px 0 0;
	}
	.page-link {
		padding: 0.2rem 0.5rem;
		font-size: .9em;
	}

	/*	ad page
	===================
	-------------------*/
	#cats-page .slider .about-slide ul {
		display: block;
	}
	#cats-page .slider .about-slide ul li {
		width: 47%;
		display: inline-block;
		margin: 5px 0 0 5px;
	}

	/*	my account pages
	===================
	-------------------*/
	#my-account-page .account-barter-search {
		padding: 60px 0 0;
	}

	/*	navegation
	===================
	-------------------*/
	.mobile-navbar .navbar-nav .nav-link {
		padding: 5px;
	}
	.navbar-dark .mobile-navbar .put-tisement {
		padding: 5px !important;
	}

	#auto-barter .filter .d-flex,
	#aqura-barter .filter .d-flex,
	#style-barter .filter .d-flex,
	#food-barter .filter .d-flex,
	#blog-barter .filter .d-flex {
	}
	#auto-barter .filter .pl-3,
	#aqura-barter .filter .pl-3,
	#style-barter .filter .pl-3,
	#food-barter .filter .pl-3,
	#blog-barter .filter .pl-3 {
		width: calc(45% - 30px);
		overflow: hidden;
		padding-left: 0 !important;
	}

	.navbar-dark .put-ads {
		font-size: 14px !important;
	}
	.navbar-dark .navbar-brand {
		width: 100px;
		margin-right: 0;
	}
	.navbar-dark .navbar-brand img {
		width: 100%;
	}

	.my-account-form label {
		top: 21px;
	}
	.my-account-form label,
	.my-account-form input.form-control {
    font-size: 12px;
	}
	#my-account-page .my-account-form input.form-control {
    padding-right: 175px !important;
	}

	.my-account-table table.table .thead-dark th,
	.my-account-table table.table td,
	.load-more-btn .green-btn,
	.my-account-form .btn-block.login {
		font-size: 12px;
	}
	.load-more-btn .green-btn {
		height: auto;
	}
	.my-account-form .btn-block.login {
		padding: 5px 15px;
	}

	#cats-page #discover .discover-list li {
		width: 100%;
	}


}

@media (max-width: 400px) {
	/*body {
		background:#0cc;
	}*/

	/*	sub category page
	======================
	----------------------*/
	.cats-filter .row > .w-60 .col-md-4 {
		width: 100%;
	}

	/*	ad page
	======================
	----------------------*/
	#cats-page .slider .about-slide ul li span {
		font-size: 16px;
	}

	/*	search result page
	===================
	-------------------*/
	.search-result .container > .row > .col-md-3 {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

}


/* 5. PRINT
--------------------------------------------------------------------------------
==============================================================================*/

@media print {

	body {
		font: normal normal 12pt/1.5em "Times New Roman", Times, serif;
	}

	a[href]:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
	}

	a[href^="/"]:after {
		content: " (http://domain.com" attr(href) ") ";
	}

	#accessibility-nav,
	.hide {
		display: none !important;
	}
}



.cat-wrapper{
	position: relative;
	top: -19px;
}


footer{
	padding-top: 0;
}
