a:hover{
text-decoration: none !important;
}
.dropdown-item{
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid lightgray;
    padding:7px 15px 12px;
    display: inline-block;
    font-weight: 600;
    z-index: 999999999;
  }
  .dropdown-item:last-child{
    border-bottom: none !important;
  }
  .dropdown-item:focus,
   .dropdown-item:hover{
      background-color: #8cad10;
      color: #212529;
  }
.typeahead.dropdown-menu{
    z-index: 999999;
    margin-right: 15px;
}
.quick-filter a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    background-color: rgb(60, 60, 60);
    opacity: 0.82;
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
}
.quick-filter a::after{
    content: '';
    width: 1px;
    height: 33px;
    background: lightgrey;
    display: block;
    position: absolute;
    top: 3px;
}
.search input.form-control{
width: 45%;
}
#cats-page > section.category-search.pb-0 > div > div.quick-search > div > div:nth-child(1) > a::after,
.navbar-dark .navbar-nav li:nth-child(1)::before{
    display: none !important;
}
/*

* {
    font-family: DiodrumArabic;
    font-size: 14px;
}

a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    color: #8cad10;
}

.color-white {
    color: #ffffff;
}

.sec-navbar {
    margin-left: 10px !important;
}

.dropdown-menu{
    width: 180px;
}


#categories .slide-details img {
    width: 80px !important;
}

#categories .brands-list img {
    width: 52px !important;
}

#categories .lifestyle-area img {
    width: 130px !important;
}

#cats-page {
    padding-bottom: 50px;
} */

