* {
  outline: none !important;
}

// @font-face {
//   font-family: 'DiodrumArabic Medium';
//   src: url("../fonts/DiodrumArabic-Medium.ttf");
// }
// @font-face {
//   font-family: 'DiodrumArabic Regular';
//   src: url("../fonts/DiodrumArabic-Regular.ttf");
// }
// @font-face {
//   font-family: 'DiodrumArabic Semibold';
//   src: url("../fonts/DiodrumArabic-Semibold.ttf");
// }
body {
  position: relative;
  padding-top: 50px !important;
  font-family: 'DiodrumArabic Medium';
  overflow-x: hidden;
}

ul.lof-main-wapper li {
  position:relative;
}

.load-more {
  font-family: 'DiodrumArabic Regular';
  background: #8cad10;
  color: #fff !important;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
}

.advertise {
  img {
    height: 75px;
  }
  margin: 0px auto 56px auto;
  display: block;
  width: 70%;
  height: 75px;
}

.h-auto {
  height: auto !important;
}

.fp-tooltip {
  color: #000 !important;
}

.date-icon {
  width: 15px !important;
}

.map-icon {
  width: 8px !important;
}

.auto-icon {
  width: 15px !important;
}

.dashboard-icon {
  width: 15px !important;
}

.follow-up {
  height: 30px !important;
  line-height: 0 !important;
  padding: 0px 8px !important;
  margin: 0px 15px;
  .icon {
    position: relative;
    top: 3px;
  }
}

.custom-box {
  font-family: 'DiodrumArabic Regular';
  height: 270px;
  margin: 15px 0px;
  font-size: 14px;
  .card-body {
    border-top: 1px solid #ddd;
    padding: 8px 15px 4px;
  }
  .card-img-header {
    position: relative;
    height: 150px;
  }
  .card-img-header img {
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .favourite {
    position: absolute;
    font-size: 16px;
    margin: 5px;
    background: #ffffff87;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    line-height: 20px;
  }
  .item-name {
    font-size: 18px;
    color: #1c1b1b !important;
    line-height: 18px;
    display: inline-block;
    font-weight: 600;
    height: 27px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 96%;
  }
  .info {
    .icon {
      width: auto !important;
      height: auto !important;
      display: inline-block;
    }
    span {
      font-size: 13px;
      color: #747475;
      line-height: 13px;
    }
  }
  .date {
    padding-top: 4px;
  }
  .item-detailes {
    padding: 0px 0px 5px;
    border-bottom: 1px solid #ddd;
    min-height: 28px;
    .icon-box {
      display: inline-block;
      padding-left: 10px;
    }
    .icon-box:last-child {
      padding: 0px !important;
    }
  }
  .price {
    background-color: rgb(78, 82, 82);
    position: absolute;
    width: 155px;
    height: 38px;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    bottom: 0px;
    font-size: 16px;
    padding: 0px 15px;
  }
  .price-opacity {
    background-color: rgba(0, 0, 0, 0.6) !important;
    width: 100%
  }
}

.brand-box {
  margin-bottom: 15px;
  height: 135px;
  .brand-info {
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  .brand-info a span {
    font-family: 'DiodrumArabic Semibold';
    color: #3b3b3d;
    font-size: 14px;
    font-weight: 600;
  }
  .brand-img {
    img {
      margin: 20px auto;
      display: block;
      height: 60px;
      width: 60px;
    }
  }
  .brand-name {
    width: calc(100% - 35px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.year-box {
  height: 180px;
  .item-img {
    height: 136px;
  }
  .card-body {
    padding: 8px;
  }
  .item-img img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .item-info a .count,
  .item-info a .item-name {
    color: #000;
  }
  .item-info a .item-name {
    font-family: 'DiodrumArabic Semibold';
  }
  .item-info a .count {
    font-family: 'DiodrumArabic Meduim';
  }
}

.w-20 {
  width: 20% !important;
}

.w-60 {
  width: 60% !important;
}

.w-18 {
  width: 18% !important;
}

.border-left {
  border-left: 1px solid darkgray !important;
}

.search-btn span {
  font-family: 'DiodrumArabic Regular';
}

.b-left::before {
  content: '';
  background: #ddd;
  width: 1px;
  height: 28px;
  top: 3px;
  position: absolute;
  left: 0px;
  z-index: 9;
}

/*Navbar Style*/

$primary-color: #8cad10;
$auto-barter-color:#ff6633;
$aqura-barter-color: #0b82c6;
$style-barter-color: #ff005c;
$food-barter-color: #cc2131;
$blog-barter-color: #fdb928;
$artical-barter-color: #8cad10;
.text-auto-barter {
  color: $auto-barter-color !important;
}

.green-btn {
  background: $primary-color;
  color: white;
  width: 102px;
  height: 38px;
  border-radius: 0px !important;
  font-weight: 600;
}

.text-green {
  color: $primary-color;
}

.control {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #ffffff;
  border: 2px solid #9b9b9b;
  border-radius: 2px
}

.control--radio .control__indicator {
  border-radius: 50%
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ffffff
}

.control input:checked~.control__indicator {
  background: #8cad10;
  border-color: #8cad10
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #8cad10
}

.control input:disabled~.control__indicator {
  background: #ffffff;
  opacity: 0.6;
  pointer-events: none
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none
}

.control input:checked~.control__indicator:after {
  display: block
}

.control--checkbox .control__indicator:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg)
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #9b9b9b
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff
}

.control--radio input:disabled~.control__indicator:after {
  background: #9b9b9b
}

.custom-input {
  position: relative
}

.custom-input input {
  padding-left: 40px
}

.custom-input.user-icon::after {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: #8cad10;
  padding-left: 18px;
  top: 9px;
  position: absolute
}

.custom-input.email-icon::after {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: #8cad10;
  padding-left: 18px;
  top: 9px;
  position: absolute
}

.custom-input.pass-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f084";
  font-size: 16px;
  color: #8cad10;
  padding-left: 18px;
  top: 9px;
  position: absolute;
  -webkit-transform: rotate(-42deg);
  transform: rotate(0deg)
}

input.form-control {
  border-radius: 0px !important;
  height: 38px !important;
}

.custom-border::after {
  content: '';
  border-width: 1px;
  border-color: rgb(187, 186, 186);
  border-style: solid;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 5px;
}

.dropdown-menu::before,
.typeahead.dropdown-menu::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background: #fff;
  top: -5px;
  left: 10px !important;
  right: 0 !important;
  border-radius: 2px;
  transform: rotate(45deg);
}

.dropdown-menu {
  top: 108%;
}

.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

.custom-scrolltop {
  font-size: 22px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #8cad10;
  color: #ebede8;
  width: 40px;
  height: 40px;
  text-align: center;
}

.search-icon {
  color: #ffffff !important;
  width: 56px;
  height: 38px;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 0px;
  img {
    position: absolute;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 15px;
  }
}

#home-page #videos,
#home-page #auto-barter,
#home-page #aqura-barter,
#home-page #style-barter,
#home-page #food-barter,
#home-page #blog-barter {
  display: flex;
  align-items: center;
}

#videos,
#auto-barter,
#aqura-barter,
#style-barter,
#food-barter,
#blog-barter {
  position: relative;
  min-height: calc(100vh - 50px);
}

.card {
  border-radius: 4px;
  border: 1px solid rgb(225, 225, 225);
  box-shadow: 0px 1px 0.94px 0.06px rgba(0, 0, 0, 0.1), 0px 0px 0.98px 0.02px rgba(0, 0, 0, 0.16);
  position: relative;
}

.card.adblock {
  height: 286px;
}

.scroll-section {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 185px;
  height: 40px;
  text-align: center;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.scroll-section:hover {
  color: #ffffff;
  text-decoration: none;
}

.scroll-section img {
  position: relative;
  top: -4px;
}

.navbar-dark {
  min-height: 60px;
  background-color: rgb(59, 59, 61) !important;
  .dropdown-toggle::after {
    content: none !important;
  }
  .nav-icon {
    color: #bbbaba;
    margin-right: 5px;
  }
  .nav-link {
    color: #ffffff !important;
    font-size: 16px !important;
    padding: 18px 15px;
  }
  .navbar-nav {
    min-height: 60px;
  }
  .nav-item {
    margin: 0px !important;
  }
  .put-ads {
    background-color: #8cad10;
    height: 60px;
    padding: 20px 18px;
    }
  .nav-item {
    position: relative;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    top: 98%;
  }
  .dropdown-menu a {
    display: block;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown.country .dropdown-menu {
    height: 300px;
    overflow: auto;
  }
}

#search {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-size: cover;
  .logo-search img {
    margin: 0px auto;
    display: block;
    padding: 80px 0px 30px 0px;
    width: 190px;
  }
  .search-input {
    position: relative;
    width: 89%;
    background: #fff;
    border: 1px solid #ddd;
  }
  .search-input:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 38px;
    background: #ddd;
    top: 7px;
  }
  .custom-input-search {
    width: 49%;
    display: inline-block;
  }
  .search {
    position: relative;
    margin: 0 auto;
  }
  .form-control {
    font-size: 14px;
    font-weight: 600;
    padding: 0px 15px 8px;
    height: 48px !important;
    display: inline-block;
    width: 100%;
  }
  .form-control:focus {
    box-shadow: none !important;
    border: 1px solid $primary-color;
  }
  .typeahead.dropdown-menu {
    top: 53px !important;
  }
  .green-btn {
    width: 10%;
    height: 50px;
    float: left;
  }
}

#videos {
  h4 {
    a {
      color: #000 !important;
    }
    padding: 25px 0px 25px;
  }
  border-bottom: 7px solid $auto-barter-color;
  background-color: #f5f5f5;
  background-image: url('../img/bg-sec.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .scroll-section {
    background-color: $auto-barter-color;
  }
  .nav-item {
    margin: 0px 5px;
    width: 200px;
    height: 40px;
  }
  .nav-link.active {
    text-align: center;
    background-color: $primary-color;
    opacity: 1 !important;
    color: #ffffff;
  }
  .nav-link {
    text-align: center;
    background-color: rgba(140, 173, 16, 0.502);
    color: #000000;
    font-family: 'DiodrumArabic Regular';
    font-size: 18px;
    width: 100%;
    height: 100%;
  }
  .card {
    margin: 25px 0px;
    .icon {
      position: absolute;
      margin: 0px auto;
      left: 0px;
      right: 0px;
      top: 45%;
      color: #ffff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.25);
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      border: 1.5px solid #ffff;
    }
    .play-icon-video {
      font-size: 16px;
      position: absolute;
      left: 13px;
      top: -5px;
    }
  }
  .owl-carousel {
    margin: 0px;
    .item {
      img {
        height: 300px;
        border-radius: 4px;
      }
    }
  }
}

#auto-barter {
  h4 {
    padding: 25px 0px 25px;
    a {
      color: #1c1b1b !important;
    }
  }
  background-image: url(../img/bg-sec.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  .nav-item {
    margin: 0px 5px;
    width: 200px;
    height: 40px;
  }
  .nav-link.active {
    text-align: center;
    background-color: $auto-barter-color;
    color: #ffffff;
  }
  .nav-link {
    text-align: center;
    background-color: rgba(255, 102, 51, 0.502);
    color: #000000;
    font-family: 'DiodrumArabic Regular';
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
  .item .card {
    font-size: 14px;
  }
  border-bottom: 7px solid $aqura-barter-color;
  .scroll-section {
    background-color: $aqura-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
    background: transparent;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
  .search-icon {
    background-color: $auto-barter-color;
  }
  .filter {
    padding-bottom: 15px;
  }
  h6 {
    padding: 0px 40px;
  }
}

#aqura-barter {
  h4 {
    a {
      color: #000 !important;
    }
    padding: 25px 0px 25px;
  }
  .filter {
    padding-bottom: 15px;
  }
  background-image: url(../img/bg-sec.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  .nav-item {
    margin: 0px 5px;
    width: 200px;
    height: 40px;
  }
  .nav-link.active {
    text-align: center;
    background-color: $aqura-barter-color;
    color: #ffffff;
  }
  .nav-link {
    text-align: center;
    background-color: rgba(13, 133, 202, 0.502);
    color: #000000;
    font-family: 'DiodrumArabic Regular';
    font-size: 18px;
    width: 100%;
    height: 100%;
  }
  border-bottom: 7px solid $style-barter-color;
  .scroll-section {
    background-color: $style-barter-color;
  }
  .search-icon {
    background-color: $aqura-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
    background: transparent;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
}

#style-barter {
  h4 {
    a {
      color: #000 !important;
    }
    padding: 25px 0px 25px;
  }
  .filter {
    padding-bottom: 15px;
  }
  background-image: url(../img/bg-sec.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  border-bottom: 7px solid $food-barter-color;
  .card-img-header {
    border-bottom: 2px solid $style-barter-color;
  }
  .card-img-header img {
    height: 190px;
  }
  .style-artical {
    height: 325px !important;
    .card-img-header {
      border-bottom: none;
    }
    .card-img-header img {
      height: 150px;
      width: 100%;
    }
    .custom-box {
      margin: 15px 0px 0px 0px !important;
    }
    p {
      height: 132px;
      overflow: hidden;
      font-size: 12px;
      white-space: pre-line;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
  }
  .scroll-section {
    background-color: $food-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
    background: transparent;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
    color: black;
  }
  .search-icon {
    background-color: $style-barter-color;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  .owl-dots {
    display: block !important;
  }
  .owl-prev,
  .owl-next {
    display: none !important;
  }
  .shope-here {
    a {
      color: $style-barter-color;
      border: 1px solid $style-barter-color;
      color: #ec1b4b;
      width: 200px;
      height: 40px;
      border-radius: 4px;
      text-decoration: none;
      display: inline-block;
      line-height: 32px;
      font-weight: 600
    }
  }
  .item-price {
    color: $style-barter-color;
    font-weight: bold;
    font-size: 16px;
  }
  .advertise {
    margin-top: 20px;
  }
}

#food-barter {
  background-image: url(../img/bg-sec.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  h4 {
    a {
      color: #000 !important;
    }
    padding: 25px 0px 25px;
  }
  .filter {
    padding-bottom: 15px;
  }
  .food-card {
    height: 240px;
    border: 3px solid #fff;
    border-radius: 0px;
    img {
      height: 260px;
    }
  }
  h6 {
    a {
      color: #000 !important;
    }
  }
  border-bottom: 7px solid $blog-barter-color;
  .resturant-info {
    .resturant-logo {
      background: #fff;
      border-radius: 0px !important;
      width: 74px;
      height: 74px;
      margin-left: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .resturant-desc {
      font-size: 13px;
      color: #565555;
      line-height: 17px;
      width: calc(100% - 88px);
      vertical-align: top;
      display: inline-block;
      margin: 0px;
    }
  }
  .start-icon {
    cursor: pointer;
  }
  .star-full {
    color: #cc2131 !important;
  }
  .viewer-count,
  .rate {
    margin-left: 7px;
  }
  .restaurants-box {
    background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    width: 90%;
    height: 75px;
    margin: 10px auto;
    box-shadow: none !important;
    li {
      display: inline-block;
      img {
        width: 65px;
        height: 65px
      }
      margin-right: 15px;
    }
  }
  .scroll-section {
    background-color: $blog-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
    background: transparent;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
  .search-icon {
    background-color: $food-barter-color;
  }
  .restaurant-row {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
  }
  .restaurant-row-image img {
    height: 42px;
    width: 42px;
  }
  .restaurant-row-title {
    width: calc(100% - 56px);
    padding-right: 10px;
    color: rgb(77, 76, 76);
    font-size: 14px;
    font-weight: 600;
  }
  .restaurant-row-title a {
    color: rgb(28, 27, 27);
    display: block;
    font-size: 16px;
    line-height: 18px;
  }
  .more-restaurants {
    float: left;
    color: #cc2131;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 16px;
  }
  .icon-duble-angle {
    position: relative;
    top: 3px;
  }
  .restaurant-sidebar {
    font-family: 'DiodrumArabic Regular';
    background: rgba(255, 255, 255, 0.502);
    ul {
      padding: 0 15px;
      margin: 0px !important;
    }
  }
}

#blog-barter {
  background-image: url(../img/bg-sec.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  h4 {
    a {
      color: #000 !important;
    }
    padding: 25px 0px 25px;
  }
  .filter {
    padding-bottom: 15px;
  }
  .search-icon {
    background-color: $blog-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
    background: transparent;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
  .nav-item {
    margin: 0px 5px;
    width: 200px;
    height: 40px;
  }
  .nav-link.active {
    text-align: center;
    background-color: $blog-barter-color;
    color: #ffffff;
  }
  .nav-link {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: rgba(253, 185, 40, 0.502);
    color: #000000;
    font-family: 'DiodrumArabic Regular';
    font-size: 18px;
    width: 100%;
    height: 100%;
  }
  .item .card {
    font-size: 14px;
  }
  border-bottom: 7px solid $artical-barter-color;
  .scroll-section {
    background-color: $artical-barter-color;
    img {
      position: relative;
      top: -4px;
    }
  }
  .location img {
    width: auto;
    height: auto;
    display: inline-block;
  }
  .mobile-location {
    padding-bottom: 27px;
    border-bottom: 1px solid #ddd;
  }
}

#artical-barter {
  background-color: #f5f5f5;
  background-image: url('../img/bg-sec.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  h4 {
    a {
      color: #000 !important;
    }
    padding: 25px 0px 25px;
  }
  .custom-box {
    height: 310px;
  }
  .filter {
    padding-bottom: 15px;
  }
  background: #f5f5f5;
  .nav-item {
    margin: 0px 15px;
    width: 200px;
    height: 47px;
  }
  .nav-link.active {
    text-align: center;
    background-color: $primary-color;
    opacity: 1 !important;
    color: #ffffff;
  }
  .nav-link {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: rgba(140, 173, 16, 0.502);
    color: #000000;
    font-family: 'DiodrumArabic Regular';
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  .date {
    img {
      height: auto;
      width: auto;
      display: inline-block;
      font-size: 13px;
      color: #747475;
      line-height: 13px;
    }
    bdi {
      vertical-align: bottom;
      font-size: 16px;
      color: #747475;
      line-height: 21px;
      margin-right: 10px;
    }
  }
  .title a {
    font-size: 16px;
    color: #1c1b1b !important;
    line-height: 20px;
    display: inline-block;
    font-weight: 600;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
  }
  .desc p {
    margin-bottom: 0px;
    height: 60px;
    font-size: 13px;
    color: rgb(116, 116, 117);
    overflow: hidden;
  }
  .read-more {
    color: #8cad10;
    font-weight: 600;
    padding-top: 8px;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  .advertise {
    margin: 10px auto 0 !important;
    height: auto !important;
    padding-bottom: 15px;
  }
} // cats page
#cats-page {
  .category-slider h5,
  #artical-barter h5,
  #videos h5 {
    padding: 30px 0px;
  }
  #artical-barter,
  #videos {
    background-image: none !important;
    min-height: auto !important;
    .play-icon-video {
      top: 10px !important;
    }
  }
  .like .favourite {
    padding: 4px 0px;
  }
  .owl-nav {
    margin: 0px !important;
  }
  .owl-prev,
  .owl-next {
    top: -142px;
}
  #discover {
    font-family: 'DiodrumArabic Regular';
    .title {
      padding: 22px 0px;
      border-bottom: 1px solid #ddd;
      position: relative;
      span {
        position: absolute;
        background: white;
        left: 40%;
        text-align: center;
        margin: 0px auto;
        display: inline-block;
        top: 23px;
        width: 180px;
        height: 30px;
        font-family: 'DiodrumArabic Medium';
      }
    }
    .nav-item {
      margin: 0px 10px 5px 0px;
      width: 200px;
      height: 40px;
    }
    .nav-link.active {
      text-align: center;
      background-color: #9fa3a5;
      opacity: 1 !important;
      color: #000;
    }
    .nav-link {
      width: 150px;
      height: 40px;
      text-align: center;
      background-color: #e1e1e1;
      color: #000000;
      font-size: 20px;
      width: 100%;
      height: 100%;
    }
    .discover-list {
      padding-right: 25px;
      li {
        padding-bottom: 8px;
      }
      li a {
        color: #404041;
        font-size: 14px;
      }
    }
  }
}

.category-search {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 40px;
  .custom-select-2 {
    width: 46%;
    font-family: 'DiodrumArabic Regular';
    font-size: 14px;
    position: relative;
  }
  .select2-container {
    width: 100% !important;
    border: none !important;
    position: relative;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    height: 48px !important;
    border-radius: 0px !important;
  }
  .select2-selection--single .select2-selection__rendered {
    padding: 6px 18px;
    line-height: 36px;
    font-size: 16px;
  }
  .b-left::before {
    content: '';
    background: #ddd;
    width: 1px;
    height: 34px;
    top: 8px;
    position: absolute;
    left: 0px;
    z-index: 9;
  }
  .select2-selection--single .select2-selection__arrow {
    top: 12px;
    left: 10px
  }
  .title {
    padding: 10px 15px !important;
    background: $auto-barter-color;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .filter {
    padding: 15px;
    background: $auto-barter-color;
  }
  .search-btn {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    font-family: 'DiodrumArabic Regular';
    border-radius: 0px;
  }
  .quick-search {
    margin: 0px auto;
    .col {
      background: rgba(0, 0, 0, 0.5);
    }
    a {
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      padding: 6px 0px 12px;
      display: inline-block;
      width: 100%;
    }
    a:hover,
    .active.item {
      background: #1386bd !important;
    }
    a:hover {
      text-decoration: none !important;
    }
    .w-20 {
      width: 20%;
    }
  }
} // #cars {
//   .ads img {
//     position: static !important;
//     height: 50px !important;
//     width: 60%;
//   }
// }
.side-bar-filter {
  .card-body {
    padding: 10px 15px !important;
  }
  h5 {
    background: #3296c5;
    color: white;
    height: 50px;
    padding: 15px 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .car-icon {
    margin-left: 8px
  }
  a.collapsed-btn {
    color: #000 !important;
    font-size: 16px;
    font-weight: 500;
  }
  a.collapsed-btn:hover {
    color: #000 !important;
    text-decoration: none !important;
  }
  .icons {
    font-size: 18px !important;
  }
  .collapse a {
    color: #1c1b1b;
  }
  .collapse ul li {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    .angle-left-icon {
      padding-left: 8px
    }
  }
  .filter-type {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }
  .filter-type:last-child {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
  }
  a[aria-expanded=true] .fa-plus-square {
    display: none;
  }
  a[aria-expanded=false] .fa-minus-square {
    display: none;
  }
}

.cats-filter {
  .img-logo {
    margin-bottom: 15px;
    span {
      font-size: 15px;
      font-weight: 500;
      display: inline-block;
      margin: 0px 10px;
    }
    img {
      width: 54px;
      height: 54px;
      margin-bottom: 10px;
    }
  }
  .car-name {
    h6 {
      font-size: 14px !important;
    }
  }
  .breadcrumb li {
    font-size: 14px !important;
    font-weight: 500;
  }
  .breadcrumb li a,
  .breadcrumb li.active {
    font-size: 14px;
    color: #404041;
  }
  .latest-sec .ad img {
    width: 100%;
    height: 245px;
  }
}

#login-page,
#register-page {
  .card {
    background: #fbfbfb;
  }
  .login-bg {
    background: url(../img/login-bg.jpg) 50% 50% no-repeat #7f7a7a;
  }
  .avater-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  form label {
    font-size: 16px;
    color: #6b7b8a;
    line-height: 1.2;
    font-weight: bold;
  }
  form .form-control {
    font-size: 14px;
    color: #868686;
  }
  span {
    font-size: 14px;
  }
  .login {
    background: #8cad10;
    font-weight: 600;
    color: #ffffff;
  }
  .forget-pass a {
    margin: 0px auto;
    font-size: 15px;
    color: #a10f0f;
    font-weight: bold;
    border-bottom: 1px solid #a10f0f;
  }
  .twitter {
    background: #8fd8f6;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    color: white;
    position: relative;
  }
  .twitter-icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    background: #7dd0f1;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
  }
  .facebook {
    background: #3c5a98;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    color: white;
    position: relative;
  }
  .facebook-icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    background: #324e89;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
  }
  h6 {
    color: #868686 !important;
    font-size: 15px;
  }
  .form-control:focus {
    background-color: #fff;
    border-color: #8cad10;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(140, 173, 16, 0.38)
  }
} // search result page
#search-result-page {
  .search-for {
    position: relative;
  }
  .search-for::before {
    content: '';
    width: 1px;
    height: 26px;
    background: #bbbaba;
    position: absolute;
    z-index: 99999999;
    left: 0px;
    top: 5px;
  }
  .quike-search {
    padding: 8px 15px;
    border: 1px solid #bbbaba;
    .custom-select-2 {
      width: 39%;
      display: inline-block;
    }
    .select2-container {
      width: 100% !important;
      position: relative;
    }
    .select2-container--default .select2-selection--single {
      height: 34px !important;
      border-radius: 0px !important;
    }
    .select2-selection--single .select2-selection__arrow {
      top: 4px;
    }
    .table-style {
      color: #777777;
      position: relative;
      top: 3px;
      font-size: 20px;
      padding-left: 15px;
      cursor: pointer;
    }
    .list-style {
      color: #b6b6bb;
      position: relative;
      top: 2px;
      font-size: 20px;
      cursor: pointer;
    }
    .show {
      font-size: 14px;
      font-weight: bold;
      padding: 0px 15px;
    }
  }
  .ads-search {
    img {
      height: 75px;
      width: 95%;
    }
  }
}

.advanced-search {
  padding: 18px 15px;
  border: 1px solid rgba(158,158,158,0.42);
  margin-bottom: 25px;
  background: #dddddd3d;
  position: relative;
  #search-categories-div{
    padding-top: 50px;
  }
  .btn-black{
    width: 200px;
    border-radius: 0px;
    background: black;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    height: 40px
  }
  .search-icon{
    position: absolute;
    background: $primary-color;
    width: 200px;
    width: 200px;
    height: 46px;
    line-height: 46px;
    top: 0px;
    right: 0px;
  }
  .custom-select-2 {
    font-family: 'DiodrumArabic Regular';
    font-size: 14px;
    position: relative;
  }
  .select2-container {
    width: 100% !important;
    position: relative;
  }
  .select2-container--default .select2-selection--single {
    height: 34px !important;
    border-radius: 0px !important;
  }
  .select2-selection--single .select2-selection__arrow {
    top: 4px;
  }
}

.search-result {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 100px 0px;
  .custom-select-2.search-for {
    width: 60%;
    .select2-selection__arrow {
      display: none;
    }
  }
  .custom-select-2 .select2-selection__rendered {
    padding-right: 20px !important;
  }
  .custom-select-2 {
    position: relative;
    width: 50%;
    font-family: 'DiodrumArabic Regular';
    font-size: 14px;
  }
  .select2-container {
    width: 100% !important;
    border: none !important;
    position: relative;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    height: 34px !important;
    border-radius: 0px !important;
  }
  .select2-selection--single .select2-selection__arrow {
    top: 4px;
  }
  .title {
    padding: 15px;
    background: rgba(158, 158, 158, 0.21);
    ;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .filter {
    padding: 15px;
    background: rgba(158, 158, 158, 0.21);
  }
  .search-btn {
    padding: 0px 15px;
    background: black;
    color: white;
    text-decoration: none;
    line-height: 28px;
    border-radius: 0px;
  }
  .quick-search {
    background: rgba(0, 0, 0, 0.5);
    margin: 0px auto;
    a {
      font-size: 14px;
      color: #fff !important;
      font-weight: 500;
      padding: 10px 0px;
      display: inline-block;
    }
    a:hover {
      text-decoration: none !important;
    }
    .w-20 {
      width: 20%;
    }
  }
}

.search-result {
  .page-link,
  .disabled .page-link {
    border-radius: 4px !important;
    margin: 0px 5px;
    background-color: #f5f5f5;
    color: #000000;
    font-weight: 600;
  }
  .page-link:last-child {
    margin-left: 0px !important;
  }
  .count-ads {
    top: -6px;
    right: 5px;
  }
}

.search-result {
  .price {
    width: 100%;
  }
  .card-footer {
    padding: 8px 15px;
    font-size: 14px;
    img {
      width: 15px;
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.old-car {
  .price {
    width: 100%;
  }
  .car-info {
    .img-logo {
      width: 28px;
      height: 28px;
    }
  }
  .owl-next,
  .owl-prev {
    top: -135px !important;
  }
}

.slider {
  .list-group {
    height: 355px;
    overflow: hidden;
    position: relative;
  }
  .list-group-item {
    padding: 4px 8px;
    padding: 4px 8px;
    background: #ddd;
    img {
      width: 80px;
      height: 80px;
      border: 1.5px solid #ddd;
      border-radius: 10px;
      float: left;
    }
  }
  .list-group-item.active {
    background-color: rgb(59, 59, 61);
    border: none;
  }
  .info {
    height: 80px;
    overflow: hidden;
    .title {
      font-family: 'DiodrumArabic Medium';
      padding-top: 5px;
      font-weight: 600;
      height: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    .detailes {
      font-size: 15px;
      font-family: "DiodrumArabic regular";
      color: #757677;
      font-weight: 500;
    }
  }
  .tab-pane {
    position: relative;
  }
  .slider-img {
    width: 100%;
    height: 355px;
  }
  .slider-info {
    position: absolute;
    bottom: 0px;
    padding: 8px 15px;
    background: rgba(0, 0, 0, 0.73);
    width: 100%;
    a {
      color: white;
    }
  }
  .next-news {
    cursor: pointer;
    position: absolute;
    background: #3b3b3d;
    margin: 0px auto;
    left: 50%;
    bottom: 0px;
    z-index: 9;
    padding: 0px 7px;
    height: 22px;
    img {
      position: relative;
      top: 7px;
    }
  }
}

footer {
  background-image: url(../img/pattern-footer.png);
  position: absolute;
  width: 100%;
  font-family: "DiodrumArabic Regular";
  li {
    font-size: 16px;
    color: rgb(142, 141, 141);
    line-height: 18px;
  }
}

/* carsoul */

.owl-carousel {
  padding: 0 40px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 0px !important;
  padding: 0px 10px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

.owl-theme .owl-nav {
  position: relative;
}

.owl-dots {
  display: none;
}

.owl-next {
  position: absolute;
  right: -40px;
  top: -185px;
}

.owl-next::before {
  content: url(../img/chevron-right.png)
}

.owl-prev {
  position: absolute;
  left: -40px;
  top: -185px;
}

.owl-prev::before {
  content: url(../img/chevron-left.png)
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
}

.ads img {
  position: absolute;
  bottom: 53px;
  left: 0;
  right: 0;
  margin: 0px auto;
  text-align: center;
  height: 75px;
}

.play-icon {
  position: absolute;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  top: 45%;
  color: #ffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border: 1.5px solid #ffff;
}

.video-details {
  font-family: 'DiodrumArabic Regular';
  height: 122px;
  position: absolute;
  background-color: rgb(19, 20, 20);
  opacity: 0.749;
  color: white;
  width: 100%;
  bottom: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  a {
    color: #fff !important;
    font-weight: 300;
    line-height: 1.5;
    display: inline-block;
    font-size: 16px;
  }
  a:hover {
    color: $primary-color !important;
  }
  .title {
    a {
      font-size: 18px;
    }
    padding: 0px 5px 10px;
  }
  .desc a {
    padding: 5px 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .border-bottom {
    border-color: rgb(78, 77, 77) !important;
  }
}

.video-details .date,
.video-details .views {
  font-size: 12px;
}

.card.viedo:hover .video-details.d-none {
  display: block !important;
}

.fp-tooltip {
  color: #000 !important;
}

.box-filter {
  width: 80%;
}

.box-breadcrumb {
  width: 70%;
}

.load-more-btn {
  text-align: center;
  margin: 20px 0 50px 0;
}

.search-box {
  width: 100%;
  height: 34px;
  border: 0;
  padding: 9px;
}

/* Loaded */

// #loader-wrapper {
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 99999999;
//   background-color: white;
// }
// #loader {
//   display: block;
//   position: relative;
//   width: 100px;
//   height: 100px;
//   margin: 0 auto;
//   border-radius: 50%;
//   border: 3px solid transparent;
//   border-top-color: #d21e5c;
//   -webkit-animation: spin 2s linear infinite;
//   /* Chrome, Opera 15+, Safari 5+ */
//   animation: spin 2s linear infinite;
//   /* Chrome, Firefox 16+, IE 10+, Opera */
// }
// #loader:before {
//   content: "";
//   position: absolute;
//   top: 5px;
//   left: 5px;
//   right: 5px;
//   bottom: 5px;
//   border-radius: 50%;
//   border: 3px solid transparent;
//   border-top-color: #cacacc;
//   -webkit-animation: spin 3s linear infinite;
//   /* Chrome, Opera 15+, Safari 5+ */
//   animation: spin 3s linear infinite;
//   /* Chrome, Firefox 16+, IE 10+, Opera */
// }
// #loader:after {
//   content: "";
//   position: absolute;
//   top: 15px;
//   left: 15px;
//   right: 15px;
//   bottom: 15px;
//   border-radius: 50%;
//   border: 3px solid transparent;
//   border-top-color: #83b13f;
//   -webkit-animation: spin 1.5s linear infinite;
//   /* Chrome, Opera 15+, Safari 5+ */
//   animation: spin 1.5s linear infinite;
//   /* Chrome, Firefox 16+, IE 10+, Opera */
// }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#inTurnFadingTextG {
  display: inline-block;
  margin: 0px auto;
  padding-bottom: 10px;
}

.inTurnFadingTextG {
  color: #d21e5c;
  font-family: Arial;
  font-size: 28px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  float: left;
  animation-name: bounce_inTurnFadingTextG;
  -o-animation-name: bounce_inTurnFadingTextG;
  -ms-animation-name: bounce_inTurnFadingTextG;
  -webkit-animation-name: bounce_inTurnFadingTextG;
  -moz-animation-name: bounce_inTurnFadingTextG;
  animation-duration: 2.09s;
  -o-animation-duration: 2.09s;
  -ms-animation-duration: 2.09s;
  -webkit-animation-duration: 2.09s;
  -moz-animation-duration: 2.09s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
} // #inTurnFadingTextG_1,
// #inTurnFadingTextG_4,
// #inTurnFadingTextG_7 {
//   color: #d21e5c;
// }
// #inTurnFadingTextG_2,
// #inTurnFadingTextG_5,
// #inTurnFadingTextG_9 {
//   color: #83b13f
// }
// #inTurnFadingTextG_3,
// #inTurnFadingTextG_6,
// #inTurnFadingTextG_8 {
//   color: #cacacc;
// }
#inTurnFadingTextG_ #inTurnFadingTextG_1 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#inTurnFadingTextG_2 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#inTurnFadingTextG_3 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#inTurnFadingTextG_4 {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#inTurnFadingTextG_5 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#inTurnFadingTextG_6 {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#inTurnFadingTextG_7 {
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

#inTurnFadingTextG_8 {
  animation-delay: 1.79s;
  -o-animation-delay: 1.79s;
  -ms-animation-delay: 1.79s;
  -webkit-animation-delay: 1.79s;
  -moz-animation-delay: 1.79s;
}

#inTurnFadingTextG_9 {
  animation-delay: 1.94s;
  -o-animation-delay: 1.94s;
  -ms-animation-delay: 1.94s;
  -webkit-animation-delay: 1.94s;
  -moz-animation-delay: 1.94s;
}

#inTurnFadingTextG_10 {
  animation-delay: 2.09s;
  -o-animation-delay: 2.09s;
  -ms-animation-delay: 2.09s;
  -webkit-animation-delay: 2.09s;
  -moz-animation-delay: 2.09s;
}

@keyframes bounce_inTurnFadingTextG {
  0% {
    color: #d21e5c;
  }
  25% {
    color: #83b13f;
  }
  50% {
    color: #cacacc;
  }
  75% {
    color: #d21e5c;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_inTurnFadingTextG {
  0% {
    color: #d21e5c;
  }
  25% {
    color: #83b13f;
  }
  50% {
    color: #cacacc;
  }
  75% {
    color: #d21e5c;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_inTurnFadingTextG {
  0% {
    color: #d21e5c;
  }
  25% {
    color: #83b13f;
  }
  50% {
    color: #cacacc;
  }
  75% {
    color: #d21e5c;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_inTurnFadingTextG {
  0% {
    color: #d21e5c;
  }
  25% {
    color: #83b13f;
  }
  50% {
    color: #cacacc;
  }
  75% {
    color: #d21e5c;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_inTurnFadingTextG {
  0% {
    color: #83b13f;
  }
  100% {
    color: rgb(255, 255, 255);
  }
  0% {
    color: #d21e5c;
  }
  25% {
    color: #83b13f;
  }
  50% {
    color: #cacacc;
  }
  75% {
    color: #d21e5c;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

.loader-container {
  text-align: center;
  position: relative;
  top: 35%;
}

